.modal#modal-change-personal-manager
	.modal__title
		| Сменить персонального менеджера

	.modal__subtitle
		| Пожалуйста, подробно опишите причину смены менеджера.
		br
		| Тогда наша служба контроля за качеством обслуживания сможет принять меры.

	form.form-reason-to-change-manager
		.form-row
			textarea(placeholder='Опишите причину смены менеджера')

		.form-row
			input(type='submit' value='Сменить менеджера')