html {
  font-size: 16px;

  @media(min-width: $breakpoint-sm) {
    font-size: 20px;
  }
  @media(min-width: $breakpoint-md) {
    font-size: $base-font-size;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: $base-font-family;
  background: #fff;
  color: $title-color;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

ol {
  margin-bottom: $content-section-margin;
  list-style: decimal;
  padding-left: 38px;
  line-height: $lineHeight;
  li {
    margin-bottom: 8px;
  }
}

p {
  font-size: 0.923rem;
  line-height: $lineHeight;
  font-family: $base-font-family-light;
  margin: 10px 0;
}

ul {

}