.section-title {
  font-size: 1.615rem; //42px
  text-align: center;
  margin: 30px 0;

  .main-content-section &,
  .tab-container & {

  }

  .main-content-section & {
    text-align: left;
    font-size: 0.962rem; //25px
  }

  .tab-container & {
    //margin-bottom: 30px;
    //text-align: left;
  }

  @media(min-width: $breakpoint-md) {
    margin: 70px 0;
  }

  &.styleInset {
    margin:0;
    padding: 50px 0 40px;
  }

}

.section-title + .links-list,
.section-header + .links-list {
  margin-top: $content-section-margin;
}

.section-subtitle {
  font-size: 1.154rem; //30px
  line-height: 1.2;
  text-align: center;
  font-family: $base-font-family-light;
  margin-bottom: 30px;

  .main-content-section & {
    text-align: left;
  }

  .tab-container & {
    text-align: left;
  }

  p + & {
    margin-top: 30px;
    @media(min-width: $breakpoint-md) {
      margin-top: 50px;
    }
  }

  @media(min-width: $breakpoint-md) {
    margin-bottom: 70px;
  }
}

.section-title + form,
.section-subtitle + form {
  margin-top: 30px;

  @media(min-width: $breakpoint-md) {
    margin-top: 70px;
  }
}


.section-title + img,
.section-subtitle + img {
  margin: 0;

  @media(min-width: $breakpoint-md) {
    margin: 10px 0;
  }
}


.tooltip-link {

}

.title {
  font-family: $base-font-family-black;
  -webkit-font-smoothing: antialiased;
}

.action-link {
  @include action-link();
}

.action-link--get-pdf {
  position: relative;
  padding: 7px 0 7px 38px;
  text-decoration: none;
  cursor: default;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 25px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    background: url(../img/icons/icon-mini-pdf-hover.png) no-repeat top center;
    background-size: cover;
  }
}

.action-link--folder {
  position: relative;
  padding: 7px 0 7px 44px;
  text-decoration: none;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 30px;
    height: 24px;
    top: 50%;
    margin-top: -14px;
    background: url(../img/icons/icon-mini-folder.png) no-repeat top center;
    background-size: cover;
  }

  &:hover {
    text-decoration: underline;
  }
}

.action-link--get-excel {
  position: relative;
  padding: 7px 0 7px 38px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 27px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    background: url(../img/icons/icon-mini-excel.png) no-repeat top center;
    background-size: cover;
  }
}

.fullscreen-link {
  @include action-link();
  padding-left: 32px;
  line-height: 23px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 23px;
    height: 23px;
    background: url(../img/icons/icon-mini-fullscreen.png) no-repeat;
    background-size: cover;
  }
}

.link-change {
  @include action-link();
  padding-left: 22px;
  line-height: 18px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 18px;
    background: url(../img/icons/icon-mini-change.png) no-repeat;
    background-size: cover;
  }
}

.link-download {
  font-size: $note-font-size;
  color: $link-accent;
}

.answer-link {
  @include action-link();
  font-size: 1rem;
  &.is-active {
    color: $link-accent;
    text-decoration: none;
  }
}


.link-text {
  color: $title-color;
  font-family: $base-font-family-light;
  text-decoration: none;
  border-bottom: 1px solid $title-color;
  font-size: 1.154rem; //30px;
  &:hover {
    border-bottom-color: transparent;
  }
}


.text-imp {
  font-size: 1.385rem;
  font-family: $base-font-family;
}



.link-text-small {
  @extend .link-text;
  font-size: 1rem;
}


.prop-label {display: inline-block;}
.value-label {display: inline-block;font-family: $base-font-family}


@font-face {
  font-family: "MuseoSansLight";
  src: url("/assets/fonts/MuseoSansLight/museosanscyrl-300.eot?") format("eot"),
  url("/assets/fonts/MuseoSansLight/museosanscyrl-300.woff2") format("woff2"),
  url("/assets/fonts/MuseoSansLight/museosanscyrl-300.woff") format("woff"),
  url("/assets/fonts/MuseoSansLight/museosanscyrl-300.ttf") format("truetype");
}

@font-face {
  font-family: "MuseoSansLightItalic";
  src: url("/assets/fonts/MuseoSansLightItalic/museosanscyrl-300italic.eot?") format("eot"),
  url("/assets/fonts/MuseoSansLightItalic/museosanscyrl-300italic.woff2") format("woff2"),
  url("/assets/fonts/MuseoSansLightItalic/museosanscyrl-300italic.woff") format("woff"),
  url("/assets/fonts/MuseoSansLightItalic/museosanscyrl-300italic.ttf") format("truetype");
}

@font-face {
  font-family: "MuseoSans";
  src: url("/assets/fonts/MuseoSans/museosanscyrl-500.eot?") format("eot"),
  url("/assets/fonts/MuseoSans/museosanscyrl-500.woff2") format("woff2"),
  url("/assets/fonts/MuseoSans/museosanscyrl-500.woff") format("woff"),
  url("/assets/fonts/MuseoSans/museosanscyrl-500.ttf") format("truetype");
}

@font-face {
  font-family: "MuseoSansItalic";
  src: url("/assets/fonts/MuseoSansItalic/museosanscyrl-500italic.eot?") format("eot"),
  url("/assets/fonts/MuseoSansItalic/museosanscyrl-500italic.woff2") format("woff2"),
  url("/assets/fonts/MuseoSansItalic/museosanscyrl-500italic.woff") format("woff"),
  url("/assets/fonts/MuseoSansItalic/museosanscyrl-500italic.ttf") format("truetype");
}

@font-face {
  font-family: "MuseoSansBlack";
  src: url("/assets/fonts/MuseoSansBlack/museosanscyrl-900.eot?") format("eot"),
  url("/assets/fonts/MuseoSansBlack/museosanscyrl-900.woff2") format("woff2"),
  url("/assets/fonts/MuseoSansBlack/museosanscyrl-900.woff") format("woff"),
  url("/assets/fonts/MuseoSansBlack/museosanscyrl-900.ttf") format("truetype");
}

@font-face {
  font-family: "MuseoSansBlackItalic";
  src: url("/assets/fonts/MuseoSansBlackItalic/museosanscyrl-900italic.eot?") format("eot"),
  url("/assets/fonts/MuseoSansBlackItalic/museosanscyrl-900italic.woff2") format("woff2"),
  url("/assets/fonts/MuseoSansBlackItalic/museosanscyrl-900italic.woff") format("woff"),
  url("/assets/fonts/MuseoSansBlackItalic/museosanscyrl-900italic.ttf") format("truetype");
}


