// Hacks and helper classes
.phone-number {
  @include phone-number();
}

.line-break {
  display: block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center!important;
}


.table-layout-auto {
  table-layout: auto!important;
}


.margin-bottom-0 {
  margin-bottom: 0!important;
}

.padding-top-0 {
  padding-top: 0!important;
}

.padding-bottom-0 {
  padding-bottom: 0!important;
}


.price-inline__dot-value {
  font-family: $base-font-family-light;
  font-size: 0.462rem; //12px
  &::before {
    content: ".";
    font-size: $base-font-size;
  }
}

.underline {
  text-decoration: underline;
}

.value-change-positive {
  display: inline-block;
  vertical-align: middle;
  margin: 0 18px;
  font-size: $note-font-size;
  color: $status-positive;
}

.inline-item-separator {
  display: inline-block;
  width: $inline-item-spacer;
}

.display-inline-block {
  display: inline-block;
}

.vertical-middle {
  vertical-align: middle;
}

.fontSizeBase {
  font-size: 1rem !important;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop30 {
  margin-top: 30px;
}

.marginTop40 {
  margin-top: 40px;
}


.paddingTop40 {
  padding-top: 40px;
}


.paddingBottom40 {
  padding-bottom: 40px;
}


.marginBottom35 {
  margin-bottom: 35px!important;
}

.width100 {
  width: 100%!important;
}

.margin0 {
  margin: 0!important;
}


.borderedVert {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}


.borderedBottom {
  border-bottom: 1px solid $border-color;
}


.borderedTop {
  border-top: 1px solid $border-color;
}


.bg-dark {
  background: $dark-bg-color;
}


.bg-darker {
  background: $darker-bg-color;
}



.fontColorGrowUp {color: $status-positive!important;}
.fontColorGrowDown {color: $status-positive!important;}



%btn-action-default,
.btn-action-default {
  &:hover {
    background: lighten(#999, 35%);
    /*.block-link * {
      border-bottom-color: transparent;
      text-decoration: none;
    }*/
    &:active {
      background: lighten(#999, 30%);
    }
  }
}


.fontDefault {
  font-family:$base-font-family!important;
}


.content-custom-padding {
  padding:15px 0;
  @media(min-width:$breakpoint-md) {
    padding:20px 0;
  }
}


.colorRed {
  color: $status-negative;
}