// Hacks and helper classes
.phone-number {
  @include phone-number();
}

.line-break {
  display: block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center!important;
}

.margin-bottom-0 {
  margin-bottom: 0!important;
}

.price-inline__dot-value {
  font-family: $base-font-family-light;
  font-size: 0.462rem; //12px
  &::before {
    content: ".";
    font-size: $base-font-size;
  }
}

.underline {
  text-decoration: underline;
}

.value-change-positive {
  display: inline-block;
  vertical-align: middle;
  margin: 0 18px;
  font-size: $note-font-size;
  color: $status-positive;
}

.inline-item-separator {
  display: inline-block;
  width: $inline-item-spacer;
}

.display-inline-block {
  display: inline-block;
}

.vertical-middle {
  vertical-align: middle;
}

.fontSizeBase {
  font-size: 1rem !important;
}

.marginTop20 {
  margin-top: 20px;
}

.marginTop30 {
  margin-top: 30px;
}

.marginBottom35 {
  margin-bottom: 35px!important;
}