// Responsive rules breakpoints
$breakpoint-sm:         320px;
$breakpoint-md:        480px;
$desktop-lg:                750px;

// Layout
$container-width:           1170px;
$container-gutter:          15px;
// $min-width:                 $tablet-breakpoint;

// Colors
$text-color:                #2f2f2f;
$brand-color:               #e21e4b;
$title-color:               #666666;
$link-color:                #00529c;
$link-hover-color:          green;
$link-accent:               #e21e4b;
$main-bg-color:             #fff;
$border-color:              #cccccc;
$status-positive:           green;

// Font Settings
$base-font-size:            15px;
$base-font-family:          'MuseoSans';
$base-font-family-italic:   'MuseoSansItalic';
$base-font-family-light:    'MuseoSansLight';
$base-font-family-black:    'MuseoSansBlack';
$lineHeight:                1.2;
$font-default:              400;
$font-light:                300;
$bolder:                    700;
$font-weight-black:         900;
$note-font-size:            13px;

// Form elements
$input-height:              54px;
$input-label-line-height:   $input-height;
$form-item-padding:         30px;

// Elements decoration
$border-radius:             4px;
$box-shadow:                0 1px 2px rgba(0,0,0,0.15);
$transition-time:           .1s;

$sidebar-section-margin:    26px;
$content-section-margin:    30px;

$inline-item-spacer:        18px;

$tab-content-padding-h:     20px;