// Responsive rules breakpoints
$breakpoint-sm:             320px;
  $breakpoint-sm-max:       $breakpoint-sm - 1px;
$breakpoint-md:             480px;
  $breakpoint-md-max:       $breakpoint-md - 1px;
$desktop-lg:                750px;
  $desktop-lg-max:          $desktop-lg - 1px;
$breakpoint-form:           570px;
  $breakpoint-form-max:     $breakpoint-form - 1px;

// Layout
$container-width:           1170px;
$container-gutter:          15px;
// $min-width:                 $tablet-breakpoint;

// Colors
$text-color:                #2f2f2f;
$brand-color:               #e21e4b;
$title-color:               #2c2c2c;
$link-color:                #005aa4;
$link-hover-color:          green;
$link-accent:               #e21e4b;
$main-bg-color:             #fff;
$grey-bg-color:             #dcdedf;
$dark-bg-color:             #f9f9fa;
$darker-bg-color:           #f2f2f2;
$border-color:              #dcdedf;
$status-positive:           #0ca462;
$status-negative:           red;
$degree-color:              #00adeb;
$text-pale:                 #6e767d;

$color-step-default:        #8c9196;
$color-step-active:         #e21e4b;



// Font Settings
$base-font-size:            26px;
$button-font-size:          1.308rem; //34px

$base-font-family-light:        'MuseoSansLight';
$base-font-family-light-italic: 'MuseoSansLightItalic';
$base-font-family:              'MuseoSans';
$base-font-family-italic:       'MuseoSansItalic';
$base-font-family-black:        'MuseoSansBlack';
$base-font-family-black-italic: 'MuseoSansBlackItalic';

$lineHeight:                1.3;
$font-default:              400;
$font-light:                300;
$bolder:                    700;
$font-weight-black:         900;
$note-font-size:            0.769rem; //20px

// Form elements
$input-height:              80px;
$input-label-line-height:   $input-height;
$form-item-padding:         30px;

// Elements decoration
$border-radius:             4px;
$box-shadow:                0 1px 2px rgba(0,0,0,0.15);
$transition-time:           .1s;

$sidebar-section-margin:    26px;
$content-section-margin:    30px;

$inline-item-spacer:        18px;

$tab-content-padding-h:     20px;

$section-padding-default:   55px;
$section-padding-small:     30px;

$accordion-content-padding: 55px;


$item-set-space:            10px;

$card-list-padding:         $item-set-space;