extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header
block content
	.content-section.content-section-padding
		.content-section__inner
			.section-title Вход в личный кабинет
			.section-subtitle
				| На ваш мобильный телефон +7 (937) xxx-xx-19 выслано SMS-сообщение с кодом.

			form(method='' action='').form-autorisation-verification.js-form-validate
				include assets/jade/partials/forms/sms-verification

				include assets/jade/partials/outgoing-link

	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function(){
			commonActions.init();
		})