extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu
block content




	.content-section
		.content-section__inner
			.section-title Информация о движении денежных средств

	.content-section.bg-darker
		.borderedVert.marginTop40
			.form-grid.bordered.borderedVertFree
				.cell
					.content-section__inner
						.tile-iconed.styleInline
							.icon
								img(src='/assets/img/icon-calendar-blue.png')
							.text
								.prop Дата оценки:
								a(href='#' class='value').link-text-small.value
									| 05 янв 2016



	- for(var item = 0; item < rulerIIAPortfolioFlowFunds.length; ++item) {
		+rulerListedMultiple({
			'header': rulerIIAPortfolioFlowFunds[item]['header'],
			'content': rulerIIAPortfolioFlowFunds[item]['content'],
		})
	- }




	.content-section
		.content-section__inner
			+btnBlock({
				'left': 'icon-mail.png',
				'title': 'Сформировать отчет и отправить на email',
			})











	include assets/jade/partials/request-to-open-pif
	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function () {
			commonActions.init();
		})