extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu
block content
	.content-section.content-section--padding
		.content-section__inner
			.section-title Медиа

			form.form-filter-archive
				.form-row
					label.form-row__title
						| Архив по годам:

					input(type='password'
						required,
						placeholder='2016').form-control



	.media-list
		+media-list-item(
			'assets/img/media-1.png',
			'08:20',
			[
				'Личные финансы с Натальей Смирновой. Выпуск 18. Паевый инвестиционный фонд (ПИФ)',
			],
			'сегодня, 11:18'
		)
		+media-list-item(
			'assets/img/media-2.png',
			'08:20',
			[
				'Личные финансы с Натальей Смирновой. Выпуск 18. Пожизненный источник дохода',
			],
			'сегодня, 11:18'
		)

	include assets/jade/partials/request-to-open-pif
	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function(){
			commonActions.init();
		})