extends assets/jade/layouts/global/index

block content
	.content-section
		.tabs.not-shadow
			.tabs__nav
				a(href='#user').tabs__nav-item
					| Пользователь

				a(href='#terms-of-use').tabs__nav-item
					| Правила

				a(href='#chat-with-manager').tabs__nav-item.is-active
					| Менеджер

				a(href='#faq').tabs__nav-item
					| FAQ

				a(href='#settings').tabs__nav-item
					| Настройки

			.tab-container#user
				.tab-container__section-inner
					.section-title Реквизиты клиента

					include assets/jade/partials/tables/profile-client-details

			.tab-container#terms-of-use
				.tab-container__section-inner
					.section-title Правила пользования

					include assets/jade/partials/tables/profile-terms-of-use


			.tab-container#chat-with-manager.is-visible
				.tab-container__section-inner
					.section-title Ваш персональный менеджер

					include assets/jade/partials/tables/profile-chat-with-manager



			.tab-container#faq
				.tab-container__section-inner
					.section-title Часто задаваемые вопросы

					include assets/jade/partials/tables/profile-faq



			.tab-container#settings
				.tab-container__section-inner
					.section-title
						| Обновление регистрационных данных

					include assets/jade/partials/tables/profile-settings




		//include assets/jade/partials/cards-list
		include assets/jade/partials/request-to-open-pif

		include assets/jade/partials/outgoing-link

		include assets/jade/partials/privacy-policy

	include assets/jade/partials/modal-popups/change-personal-manager

	include assets/jade/partials/modal-popups/change-personal-mananger-accepted