extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu
block content
	.content-section.content-section--padding
		.content-section__inner
			.section-title
				| Открытие индивидуального инвестиционного счета

		include assets/jade/partials/purchase-chosen-data
		.content-section__inner
			.form-row
				button.btn-primary
					| Отправить заявку
			.form-row
				button.btn-primary-inverted
					| Открыть онлайн


	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function(){
			commonActions.init();
		})