extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu
block content
	.content-section
		.content-section__inner
			.section-title
				| Доверительное управление
			.section-subtitle
				| Сергей Алексеевич, к сожалению, на данный момент у Вас отсутствует Доверительное управление. Для того, чтобы заключить договор ДУ, вам необходимо:


	.content-section
		.content-section__inner
			+btnBlock({
                'left': 'icon-search.png',
                'iconBalled': true,
                'right': 'icon-year-arrow-right.png',
                'title': 'Выбрать стратегию на сайте АО УК «Ингосстрах Инвестиции»',
            })

	.content-section
		.content-section__inner
			+btnBlock({
                'left': 'icon-request.png',
                'iconBalled': true,
                'right': 'icon-year-arrow-right.png',
                'title': 'Или заключить договор Доверительного управления в любом удобном для вас офисе',
            })

	.content-section
		.content-section__inner
			+btnBlock({
                'left': 'icon-list.png',
                'iconBalled': true,
                'right': 'icon-year-arrow-right.png',
                'title': 'Или открыть Доверительное управление онлайн',
            })

	.content-section
		.content-section__inner
			.section-subtitle
				| Более подробную информацию Вы можете получить по телефону: 8 800 100-48-98






	include assets/jade/partials/request-to-open-pif
	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function () {
			commonActions.init();
		})