extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu
block content
	.content-section
		.content-section__inner
			.section-title.styleInset
				| Заявки на приобритение

	.content-section
		- for(var item = 0; item < rulerUnitTrustBids.length; ++item) {
			+rulerListed({
				'title': rulerUnitTrustBids[item]['title'],
				'listTabled': rulerUnitTrustBids[item]['list'],
				'button': rulerUnitTrustBids[item]['button'],
			})
		- }

	.content-section
		.content-section__inner
			+btnBlock({
                'left': 'icon-mail.png',
                'title': 'Сформировать отчет и отправить на email',
            })








	include assets/jade/partials/request-to-open-pif
	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function () {
			commonActions.init();
		})