extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu
block content
	.content-section
		.content-section__inner
			.section-title.styleInset
				| Ингострах. Облигации

	.content-section.bg-dark
		.borderedVert.marginTop40
			.form-grid.bordered.borderedVertFree
				.cell
					.content-section__inner
						.tile-iconed.styleInline
							.icon
								img(src='/assets/img/icon-calendar-blue.png')
							.text
								.prop Дата оценки:
								a(href='#' class='value').link-text-small.value
									| 31 мар 2016

	.portfolio-history-chart Chart

	.content-section
		.content-section__inner
			.section-title
				| Детализация по фонду

			.form-row
				label.form-row__title
					| Выберите параметр для отображения:
				select.form-control
					option Сумма паев приобритения, руб.
					option Разность паев приобритения, руб.
					option Произведение паев приобритения, руб.
					option Частное паев приобритения, руб.

	- for(var item = 0; item < rulerUnitTrustPortfolioDetalization.length; ++item) {
		+rulerListed({
			'title': rulerUnitTrustPortfolioDetalization[item]['title'],
			'list': rulerUnitTrustPortfolioDetalization[item]['list']
		})
	- }


	.content-section
		.content-section__inner
			.section-title
				| Совершенные операции по фонду

			.form-row
				label.form-row__title
					| Выберите параметр для отображения:
				select.form-control
					option Сумма операций, руб.
					option Разность операций, руб.
					option Произведение операций, руб.
					option Частное операций, руб.

	- for(var item = 0; item < rulerUnitTrustPortfolioDetalizationReady.length; ++item) {
		+rulerListed({
			'title': rulerUnitTrustPortfolioDetalizationReady[item]['title'],
			'list': rulerUnitTrustPortfolioDetalizationReady[item]['list']
    	})
	- }


	.content-section
		.content-section__inner
			+btnBlock({
				'left': 'icon-mail.png',
				'title': 'Сформировать отчет и отправить на email',
			})




	include assets/jade/partials/request-to-open-pif
	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function () {
			commonActions.init();
		})