extends assets/jade/layouts/global/index
block header
	include assets/jade/layouts/global/partials/header-menu
block content
	.content-section
		.content-section__inner
			.section-title.styleInset
				| Документы по ПИФ


	+sliderNav({
        'left': 'icon-year-arrow-left.png',
        'right': 'icon-year-arrow-right.png',
        'title': 2016,
        'titleClassName': 'text-center',
    })

	- for(var item = 0; item < rulerUnitTrustDocuments.length; ++item) {
		+docsReview({
            'left': rulerUnitTrustDocuments[item]['icon'],
            'title': rulerUnitTrustDocuments[item]['title'],
            'download': true,
		})
	- }



	include assets/jade/partials/request-to-open-pif
	include assets/jade/partials/outgoing-link
	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function () {
			commonActions.init();
		})