extends assets/jade/layouts/global/index

block content
	.content-section
		.content-section__inner
			.title Открытие Демо-ПИФ

			form.form-demo-pif-verification
				include assets/jade/partials/forms/sms-verification

	include assets/jade/partials/cards-list

	include assets/jade/partials/privacy-policy

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function(){
			commonActions.init();
		})