-
    var rulerIIAPortfolioFlowFunds= [
        {
            'header' : 'Сентябрь 2016',
            'content' : [
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                            'prop' : 'Дата операции: ',
                            'value' : '29.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+68 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : false,
                            },
                        },
                    ],
                },
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                            'prop' : 'Дата операции: ',
                            'value' : '28.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+20 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : false,
                            },
                        },
                    ],
                },
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                            'prop' : 'Дата операции: ',
                            'value' : '27.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+150 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : false,
                            },
                        },
                    ],
                },
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                            'prop' : 'Дата операции: ',
                            'value' : '26.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+50 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : false,
                            },
                        },
                    ],
                },
            ],
        },
        {
            'header' : false,
            'content' : [
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'ИТОГО',
                                'value' : false,
                                'propClass' : 'm-megaValue',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '288 000,00',
                            },
                        },
                    ],
                },
            ],
        },
    ];




-
    var rulerIIAPortfolioNextKup= [
        {
            'title' : 'Российские железные дороги, БО-03',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
                {
                    'prop' : 'Ставка купона, % годовых: ',
                    'value' : '11,75',
                },
                {
                    'prop' : 'Количество бумаг: ',
                    'value' : '2 187',
                },
                {
                    'prop' : 'Сумма купона: ',
                    'value' : '58,59',
                },
                {
                    'prop' : 'Сумма выплаты, RUB: ',
                    'value' : '128 136,33',
                },
                {
                    'prop' : 'Дата выплаты: ',
                    'value' : '20.11.2016',
                },
            ],
        },
        {
            'title' : 'ЕвразХолдинг Финанс 001P-01R',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
                {
                    'prop' : 'Ставка купона, % годовых: ',
                    'value' : '12,60',
                },
                {
                    'prop' : 'Количество бумаг: ',
                    'value' : '1 121',
                },
                {
                    'prop' : 'Сумма купона: ',
                    'value' : '62,83',
                },
                {
                    'prop' : 'Сумма выплаты, RUB: ',
                    'value' : '70 432,43',
                },
                {
                    'prop' : 'Дата выплаты: ',
                    'value' : '23.03.2016',
                },
            ],
        },
    ];




-
    var rulerIIAPortfolioKupRub= [
        {
            'title' : 'Элемент Лизинг, БО-04',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '14 279,25',
                },
            ],
        },
        {
            'title' : 'ИТОГО',
            'titleBold' : true,
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '14 279,25',
                },
            ],
        },
    ];


-
    var rulerIIAPortfolioDohRub= [
        {
            'title' : 'Элемент Лизинг, БО-04',
            'list' : [
                {
                    'prop' : 'Средне-инвестированная сумма: ',
                    'value' : '133 941,14',
                },
            ],
        },
        {
            'title' : 'ИТОГО',
            'titleBold' : true,
            'list' : [
                {
                    'prop' : 'Средне-инвестированная сумма: ',
                    'value' : '133 941,14',
                },
            ],
        },
    ];



-
    var rulerIIAPortfolioFinInstr= [
        {
            'title' : '4В02-04-36193R Элемент Лизинг БО-04',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '403 346,37',
                },
            ],
        },
        {
            'title' : '4В02-04-36193R Элемент Лизинг БО-04; НКД',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '104,88',
                },
            ],
        },
        {
            'title' : 'Деньги у брокера, р/с 30601810200001027570 (RUB)',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '584,25',
                },
            ],
        },
        {
            'title' : 'р/с 407018108000000028886 (RUB) в Банк ГПБ (АО)',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '3 258,76',
                },
            ],
        },
    ];

-
    var rulerIIAPortfolio = [
        {
            'title' : 'Облигации',
            'labelLeft' : '99,05%',
            'labelRight' : '403 451,25 Р',
            'progressValue' : '99.05%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Прочие вложения',
            'labelLeft' : '0,80%',
            'labelRight' : '3 258,76 Р',
            'progressValue' : '0.80%',
            'progressColor' : '#ff6961',
        },
        {
            'title' : 'Денежные средства у брокера',
            'labelLeft' : '0,15%',
            'labelRight' : '584,25 Р',
            'progressValue' : '0.15%',
            'progressColor' : '#b6e329',
        },
    ];



-
    var rulerTMInvestDealings= [
        {
            'title' : '2571330351 от 01.11.2016, 14:21',
            'titleClass' : 'text-left',
            'rulerListInline' : true,
            'list' : [
                {
                    'prop' : 'Вид сделки: ',
                    'value' : 'Продажа',
                },
                {
                    'prop' : 'Эмитент: ',
                    'value' : 'VTB Eurasia Limited',
                },
                {
                    'prop' : 'Контрагент: ',
                    'value' : 'Atonline Limited',
                },
                {
                    'prop' : 'Цена: ',
                    'value' : '1067,50 USD',
                },
            ],
        },
        {
            'title' : '1460175960 от 11.08.2016, 18:26',
            'titleClass' : 'text-left',
            'rulerListInline' : true,
            'list' : [
                {
                    'prop' : 'Вид сделки: ',
                    'value' : 'Покупка',
                },
                {
                    'prop' : 'Эмитент: ',
                    'value' : 'Нота 2Y Quanto Autocall-Phoenix Note',
                },
                {
                    'prop' : 'Контрагент: ',
                    'value' : 'Veles International Limited',
                },
                {
                    'prop' : 'Цена: ',
                    'value' : '1000,30 USD',
                },
            ],
        },
        {
            'title' : '2571330351 от 14.07.2016, 14:21',
            'titleClass' : 'text-left',
            'rulerListInline' : true,
            'list' : [
                {
                    'prop' : 'Вид сделки: ',
                    'value' : 'Покупка',
                },
                {
                    'prop' : 'Эмитент: ',
                    'value' : 'Элемент Лизинг БО-04',
                },
                {
                    'prop' : 'Контрагент: ',
                    'value' : 'ЗАО «ФБ ММВБ»',
                },
                {
                    'prop' : 'Цена: ',
                    'value' : '1000.00 RUB',
                },
            ],
        },
        {
            'title' : '1460175960 от 22.06.2016, 18:26',
            'titleClass' : 'text-left',
            'rulerListInline' : true,
            'list' : [
                {
                    'prop' : 'Вид сделки: ',
                    'value' : 'Покупка',
                },
                {
                    'prop' : 'Эмитент: ',
                    'value' : 'МТС-АОО',
                },
                {
                    'prop' : 'Контрагент: ',
                    'value' : 'ЗАО «ФБ ММВБ»',
                },
                {
                    'prop' : 'Цена: ',
                    'value' : '256,40 RUB',
                },
            ],
        },
    ];



-
    var rulerIIAPortfolioDealings= [
        {
            'title' : '2571330351 от 14.07.2016, 14:21',
            'titleClass' : 'text-left',
            'rulerListInline' : true,
            'list' : [
                {
                    'prop' : 'Вид сделки: ',
                    'value' : 'Покупка',
                },
                {
                    'prop' : 'Эмитент: ',
                    'value' : 'Элемент Лизинг БО-04',
                },
                {
                    'prop' : 'Контрагент: ',
                    'value' : 'ЗАО «ФБ ММВБ»',
                },
                {
                    'prop' : 'Цена: ',
                    'value' : '1000.00 RUB',
                },
            ],
        },
        {
            'title' : '1460175960 от 22.06.2016, 18:26',
            'titleClass' : 'text-left',
            'rulerListInline' : true,
            'list' : [
                {
                    'prop' : 'Вид сделки: ',
                    'value' : 'Покупка',
                },
                {
                    'prop' : 'Эмитент: ',
                    'value' : 'МТС-АОО',
                },
                {
                    'prop' : 'Контрагент: ',
                    'value' : 'ЗАО «ФБ ММВБ»',
                },
                {
                    'prop' : 'Цена: ',
                    'value' : '256,40 RUB',
                },
            ],
        },
    ];

-
    var rulerTMInvestComissions= [
        {
            'title' : 'Комиссия брокера (посредника)',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '333,51',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '50,87',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Комиссия биржи (торговой системы)',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '264,14',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '40,29',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Комиссия депозитария (регистратора)',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '3 324,76',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '507,17',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Комиссия банка',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '1 412,87',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '215,52',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Вознаграждение доверительного управлюящего за управление',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '28 687,20',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '4 376,01',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Расчеты с бюджетом по НДФЛ',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '4 331,00',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
    ];


-
    var rulerIIAPortfolioComissions= [
        {
            'title' : 'Комиссия брокера (посредника)',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '333,51',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '50,87',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Комиссия биржи (торговой системы)',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '264,14',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '40,29',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Комиссия депозитария (регистратора)',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '3 324,76',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '507,17',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Комиссия банка',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '1 412,87',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '215,52',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Вознаграждение доверительного управлюящего за управление',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '28 687,20',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '4 376,01',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
        {
            'title' : 'Расчеты с бюджетом по НДФЛ',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Начисление: ',
                    'value' : '4 331,00',
                },
                {
                    'prop' : 'В том числе НДС: ',
                    'value' : '',
                },
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
            ],
        },
    ];



-
    var rulerTMInvestFlowFunds= [
        {
            'header' : 'Сентябрь 2016',
            'content' : [
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '30.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+90 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '26.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+68 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '28.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+20 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'USD',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '27.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+150 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '26.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+300 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '04.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '-50 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '03.09.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+77 543,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
            ],
        },
        {
            'header' : 'Август 2016',
            'content' : [
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '07.08.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+50 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
            ],
        },
        {
            'header' : 'Июль 2016',
            'content' : [
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '11.07.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '+50 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
            ],
        },
        {
            'header' : 'Июнь 2016',
            'content' : [
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '14.06.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '-150 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
            ],
        },
        {
            'header' : 'Май 2016',
            'content' : [
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'Дата операции: ',
                                'value' : '18.05.2016',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '-125 000,00',
                            },
                        },
                        {
                            'prop' : {
                                'prop' : 'Тип: ',
                                'value' : 'Ввод ДС',
                            },
                            'value' : {
                                'prop' : 'Валюта: ',
                                'value' : 'RUB',
                                'megaValue' : false,
                            },
                        },
                    ],
                },
            ],
        },
        {
            'header' : false,
            'content' : [
                {
                    'title' : false,
                    'list' : [
                        {
                            'prop' : {
                                'prop' : 'ИТОГО',
                                'value' : false,
                                'propClass' : 'm-megaValue',
                            },
                            'value' : {
                                'prop' : false,
                                'value' : false,
                                'megaValue' : '480 543,00',
                            },
                        },
                    ],
                },
            ],
        },


    ];





-
    var rulerTMInvestNextKup= [
        {
            'title' : 'Номос-банк',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Валюта: ',
                    'value' : '0USD',
                },
                {
                    'prop' : 'Ставка купона, % годовых: ',
                    'value' : '10,00',
                },
                {
                    'prop' : 'Количество бумаг: ',
                    'value' : '200',
                },
                {
                    'prop' : 'Сумма купона: ',
                    'value' : '10 000,00',
                },
                {
                    'prop' : 'Сумма выплаты, RUB: ',
                    'value' : '2 000 000,00',
                },
                {
                    'prop' : 'Дата выплаты: ',
                    'value' : '26.11.2016',
                },
            ],
        },
        {
            'title' : 'Российские железные дороги БО-03',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
                {
                    'prop' : 'Ставка купона, % годовых: ',
                    'value' : '11,75',
                },
                {
                    'prop' : 'Количество бумаг: ',
                    'value' : '2 187',
                },
                {
                    'prop' : 'Сумма купона: ',
                    'value' : '58,59',
                },
                {
                    'prop' : 'Сумма выплаты, RUB: ',
                    'value' : '128 136,33',
                },
                {
                    'prop' : 'Дата выплаты: ',
                    'value' : '20.11.2016',
                },
            ],
        },
        {
            'title' : 'ВТБ',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Валюта: ',
                    'value' : 'USD',
                },
                {
                    'prop' : 'Ставка купона, % годовых: ',
                    'value' : '19,00',
                },
                {
                    'prop' : 'Количество бумаг: ',
                    'value' : '400',
                },
                {
                    'prop' : 'Сумма купона: ',
                    'value' : '19 000,00',
                },
                {
                    'prop' : 'Сумма выплаты, RUB: ',
                    'value' : '7 600 000,00',
                },
                {
                    'prop' : 'Дата выплаты: ',
                    'value' : '06.12.2016',
                },
            ],
        },
        {
            'title' : 'ЕвразХолдинг Финанс 001P-01R',
            'titleClass' : 'text-center',
            'list' : [
                {
                    'prop' : 'Валюта: ',
                    'value' : 'RUB',
                },
                {
                    'prop' : 'Ставка купона, % годовых: ',
                    'value' : '12,60',
                },
                {
                    'prop' : 'Количество бумаг: ',
                    'value' : '1 121',
                },
                {
                    'prop' : 'Сумма купона: ',
                    'value' : '62,83',
                },
                {
                    'prop' : 'Сумма выплаты, RUB: ',
                    'value' : '70 432,43',
                },
                {
                    'prop' : 'Дата выплаты: ',
                    'value' : '27.03.2017',
                },
            ],
        },
    ];




-
    var rulerTMInvestBagKupUsd= [
        {
            'title' : 'PSB Finance S.A. -5-2016-евро',
            'list' : [
                {
                    'prop' : 'Количество бумаг: ',
                    'value' : '100,00',
                },
            ],
        },
        {
            'title' : 'PSB Finance S.A. -5-2016-евро',
            'list' : [
                {
                    'prop' : 'Количество бумаг: ',
                    'value' : '13,00',
                },
            ],
        },
    ];


-
    var rulerTMInvestBagKupRub= [
        {
            'title' : 'ДВМП (FESCO), БО 2',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '29 920,00',
                },
            ],
        },
        {
            'title' : 'ОФЗ 26207',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '16 703,04',
                },
            ],
        },
        {
            'title' : 'ОткрФКББ04',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '280 210,04',
                },
            ],
        },
        {
            'title' : 'ДельтаКредит 11 ИП',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '36 199,80',
                },
            ],
        },
        {
            'title' : 'ДельтаКредит 11 ИП',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '35 811,10',
                },
            ],
        },
        {
            'title' : 'Элемент Лизинг, БО-04',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '4 627,20',
                },
            ],
        },
        {
            'title' : 'Элемент Лизинг, БО-03',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '062 322,60',
                },
            ],
        },
        {
            'title' : 'ФК ОТКРЫТИЕ, 02',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '9 214,92',
                },
            ],
        },
        {
            'title' : 'СУЭК Финанс 05 обл',
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '100 121,04',
                },
            ],
        },
        {
            'title' : 'ИТОГО',
            'titleBold' : true,
            'list' : [
                {
                    'prop' : 'Сумма выплаты: ',
                    'value' : '575 129,74',
                },
            ],
        },
    ];


-
    var rulerTMInvestBagDohUsd= [
        {
            'title' : 'PSB Finance S.A. -5-2016-евро',
            'list' : [
                {
                    'prop' : 'Текущая оценка: ',
                    'value' : '105,857.75',
                },
            ],
        },
        {
            'title' : 'VTB Eurasia Limited',
            'list' : [
                {
                    'prop' : 'Текущая оценка: ',
                    'value' : '13,939.52',
                },
            ],
        },
        {
            'title' : 'PSB Finance S.A. -2019',
            'list' : [
                {
                    'prop' : 'Текущая оценка: ',
                    'value' : '108,346.48',
                },
            ],
        },
        {
            'title' : 'ИТОГО',
            'titleBold' : true,
            'list' : [
                {
                    'prop' : 'Текущая оценка: ',
                    'value' : '228,134.74',
                },
            ],
        },
    ];

-
    var rulerTMInvestBagDohRub= [
        {
            'title' : '00000',
            'list' : [
                {
                    'prop' : 'Средне-инвестированная сумма: ',
                    'value' : '000,00',
                },
            ],
        },
        {
            'title' : '00000',
            'list' : [
                {
                    'prop' : 'Средне-инвестированная сумма: ',
                    'value' : '000,00',
                },
            ],
        },
        {
            'title' : '00000',
            'list' : [
                {
                    'prop' : 'Средне-инвестированная сумма: ',
                    'value' : '000,00',
                },
            ],
        },
        {
            'title' : 'ИТОГО',
            'titleBold' : true,
            'list' : [
                {
                    'prop' : 'Средне-инвестированная сумма: ',
                    'value' : '8 739 376,55',
                },
            ],
        },
    ];


-
    var rulerTMInvestBagFinInstr= [
        {
            'title' : 'Нота 2Y Quanto Autocall-Phoenix Note on VXX',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '324 845,92',
                },
            ],
        },
        {
            'title' : 'EFGPH CH0279928714 - нота',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '10 693 604,13',
                },
            ],
        },
        {
            'title' : 'EFGPH CH0279928714 - нота',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '812 589,94',
                },
            ],
        },
        {
            'title' : 'EFGPH CH0279928714 - нота; НКД',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '-',
                },
            ],
        },
        {
            'title' : 'VTB Eurasia Limited XS0810596832',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '13 842 999,59',
                },
            ],
        },
        {
            'title' : 'VTB Eurasia Limited XS0810596832; НКД',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '-',
                },
            ],
        },
        {
            'title' : '4B02-01-20075-F РУСАЛ Братск БО-01',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '100 395,09',
                },
            ],
        },
        {
            'title' : '4B02-01-20075-F РУСАЛ Братск БО-01; НКД',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '-',
                },
            ],
        },
        {
            'title' : '4B02-04-36193-R Элемент Лизинг БО-04',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '1 548 615,95',
                },
            ],
        },
        {
            'title' : '4B02-04-36193-R Элемент Лизинг БО-04; НКД',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '-',
                },
            ],
        },
        {
            'title' : 'Деньги у брокера, р/с 30601810400001013546 (RUB)',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '95,25',
                },
            ],
        },
        {
            'title' : 'р/с 40701810800000028886 (RUB) в Банк ГПБ (АО)',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '7 858,25',
                },
            ],
        },
        {
            'title' : 'р/с 40701810600010000025 (RUB) в Банк СОЮЗ (АО)',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '2 659,00',
                },
            ],
        },
        {
            'title' : 'р/с 40701840900010000025 (USD) в Банк СОЮЗ (АО)',
            'list' : [
                {
                    'prop' : 'Балансовая стоимость, руб: ',
                    'value' : '382 707,31',
                },
            ],
        },

    ];




-
    var rulerTMInvestBag = [
        {
            'title' : 'Облигации',
            'labelLeft' : '98,78%',
            'labelRight' : '32 114 130,50 Р',
            'progressValue' : '97.78%',
            'progressColor' : '#ff6961',
        },
        {
            'title' : 'Прочие вложения',
            'labelLeft' : '1,21%',
            'labelRight' : '394 952,91 Р',
            'progressValue' : '1.21%',
            'progressColor' : '#b6e329',
        },
        {
            'title' : 'Денежные средства у брокера',
            'labelLeft' : '0,01%',
            'labelRight' : '95,25 Р',
            'progressValue' : '0.01%',
            'progressColor' : '#1b7cd0',
        },
    ];




-
    var rulerProfileRules = [
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Соглашение об использовании личных данных',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Заявление на комплексное обслуживание на рынке ценных бумаг',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Редакция Договора доверительного управления (стандартная форма присоединения), действующая с 20.05.2016г. на текущий день',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Сводный отчет за период',
        },
    ];



-
    var rulerUnitTrustDocuments = [
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Анкета управляющей компании',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Заявление об открытии лицевого счета (для физического лица)',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Редакция Договора доверительного управления (стандартная форма присоединения), действующая с 20.05.2016г. на текущий день',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Сводный отчет за период',
        },
    ];


-
    var rulerUnitTrustConsolidatedReport = [
        {
            'title' : '«Ингосстрах. Еврооблигации»',
            'list' : [
                {
                    'prop' : 'Текущая стоимость оставшихся паев, руб:',
                    'value' : '167 835,99',
                },
            ],
        },
        {
            'title' : '«Ингосстрах. Денежный рынок»',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '689 466,71',
                },
            ],
        },
        {
            'title' : '«Ингосстрах. Товарно-сырьевой рынок»',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '50 000,00',
                },
            ],
        },
    ];



-
    var rulerUnitTrustBids= [
        {
            'title' : 'ПИФ «Ингосстрах. Облигации»',
            'titleClass' : 'text-left',
            'list' : [
                {
                    'prop' : 'Дата заявки: ',
                    'value' : '29.05.2009',
                },
                {
                    'prop' : '№ заявки: ',
                    'value' : '22.45.01.0438.00.0200',
                },
                {
                    'prop' : '№ лицевого счета: ',
                    'value' : '910555552',
                },
            ],
            'button' : 'Отправить реквизиты для перечисления денежных средств в оплату паев на email'
        },
        {
            'title' : 'ПИФ «Ингосстрах. Сбалансированный»',
            'titleClass' : 'text-left',
            'list' : [
                {
                    'prop' : 'Дата заявки: ',
                    'value' : '12.12.2013',
                },
                {
                    'prop' : '№ заявки: ',
                    'value' : '22.98.01.0438.00.1234',
                },
                {
                    'prop' : '№ лицевого счета: ',
                    'value' : '121000004',
                },
            ],
            'button' : 'Отправить реквизиты для перечисления денежных средств в оплату паев на email'
        },
        {
            'title' : 'ПИФ «Ингосстрах. Риел-Эстейт»',
            'titleClass' : 'text-left',
            'list' : [
                {
                    'prop' : 'Дата заявки: ',
                    'value' : '06.01.2015',
                },
                {
                    'prop' : '№ заявки: ',
                    'value' : '22.90.01.0438.00.1467',
                },
                {
                    'prop' : '№ лицевого счета: ',
                    'value' : '911000456',
                },
            ],
            'button' : 'Отправить реквизиты для перечисления денежных средств в оплату паев на email'
        },
    ];



-
    var rulerUnitTrustPortfolioDetalizationReady= [
        {
            'title' : 'Погашение',
            'list' : [
                {
                    'prop' : 'Дата проведения операции: ',
                    'value' : '10.07.2015',
                },
                {
                    'prop' : 'Сумма операции, руб: ',
                    'value' : '150 000,00',
                },
            ],
        },
        {
            'title' : 'Обмен',
            'list' : [
                {
                    'prop' : 'Дата проведения операции: ',
                    'value' : '10.03.2013',
                },
                {
                    'prop' : 'Сумма операции, руб: ',
                    'value' : '213 191,21',
                },
            ],
        },
        {
            'title' : 'Приобритение',
            'list' : [
                {
                    'prop' : 'Дата проведения операции: ',
                    'value' : '10.08.2013',
                },
                {
                    'prop' : 'Сумма операции, руб: ',
                    'value' : '-100 000,00',
                },
            ],
        },
        {
            'title' : 'Приобритение',
            'list' : [
                {
                    'prop' : 'Дата проведения операции: ',
                    'value' : '10.07.2013',
                },
                {
                    'prop' : 'Сумма операции, руб: ',
                    'value' : '-200 000,00',
                },
            ],
        },
    ];


-
    var rulerUnitTrustPortfolioDetalization= [
        {
            'title' : '',
            'list' : [
                {
                    'prop' : 'Дата приобритения: ',
                    'value' : '07.07.2015',
                },
                {
                    'prop' : 'Сумма паев приобритения, руб: ',
                    'value' : '500 000,00',
                },
            ],
        },
        {
            'title' : '',
            'list' : [
                {
                    'prop' : 'Дата приобритения: ',
                    'value' : '15.06.2015',
                },
                {
                    'prop' : 'Сумма паев приобритения, руб: ',
                    'value' : '100 000,00',
                },
            ],
        },
        {
            'title' : '',
            'list' : [
                {
                    'prop' : 'Дата приобритения: ',
                    'value' : '07.08.2014',
                },
                {
                    'prop' : 'Сумма паев приобритения, руб: ',
                    'value' : '300 000,00',
                },
            ],
        },
        {
            'title' : '',
            'list' : [
                {
                    'prop' : 'Дата приобритения: ',
                    'value' : '27.12.2011',
                },
                {
                    'prop' : 'Сумма паев приобритения, руб: ',
                    'value' : '599 302,53',
                },
            ],
        },
    ];


-
    var rulerUnitTrustPortfolioPif = [
        {
            'title' : 'Ингосстрах. Облигации',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '2 733,86 Р',
                },
            ],
        },
        {
            'title' : 'Ингосстрах. Еврооблигации',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '1 774,04 Р',
                },
            ],
        },
        {
            'title' : 'Ингосстрах. Риел Эстейт',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '1 310,51 Р',
                },
            ],
        },
    ];



-
    var rulerUnitTrustPortfolio = [
        {
            'title' : 'Ингосстрах. Облигации',
            'labelLeft' : '59,69%',
            'labelRight' : '903 174,44 Р',
            'progressValue' : '59.69%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Ингосстрах. Еврооблигации',
            'labelLeft' : '32,03%',
            'labelRight' : '484 525,04 Р',
            'progressValue' : '32.03%',
            'progressColor' : '#ff6961',
        },
        {
            'title' : 'Ингосстрах. Риел Эстейт',
            'labelLeft' : '8,28%',
            'labelRight' : '125 280,58 Р',
            'progressValue' : '8.28%',
            'progressColor' : '#b6e329',
        },
    ];



-
    var rulerCurrencies = [
        {
            'title' : 'Российский рубль',
            'labelLeft' : '',
            'labelRight' : '4 952,48',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Доллар США',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Евро',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Фунт стерлингов',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Японская Йена',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Швейцарский франк',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
    ];


-
    var rulerIsuers = [
        {
            'title' : 'МинФин России',
            'labelLeft' : '',
            'labelRight' : '1 728,99',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «Силовые машины»',
            'labelLeft' : '',
            'labelRight' : '267,1',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Правительство Москвы в лице Департамента финансов г. Москвы',
            'labelLeft' : '',
            'labelRight' : '263,82',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ПАО «Магнит»',
            'labelLeft' : '',
            'labelRight' : '258,95',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «Акрон»',
            'labelLeft' : '',
            'labelRight' : '245,25',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ПАО «ВымпелКом»',
            'labelLeft' : '',
            'labelRight' : '245,07',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ООО «ИКС 5 Финанс»',
            'labelLeft' : '',
            'labelRight' : '225,79',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «АФК Система»',
            'labelLeft' : '',
            'labelRight' : '206,85',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ООО «МегаФон Финанс»',
            'labelLeft' : '',
            'labelRight' : '202,41',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «Полюс Золото»',
            'labelLeft' : '',
            'labelRight' : '197,91',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Другое',
            'labelLeft' : '',
            'labelRight' : '1 096,54',
            'progressValue' : '58.85%',
            'progressColor' : '#1b7cd0',
        },
    ];

-
    var rulerIndustry = [
        {
            'title' : 'Не определено',
            'labelLeft' : '89,15%',
            'labelRight' : '4 471,61',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Государственные ценные бумаги',
            'labelLeft' : '10,85%',
            'labelRight' : '460,87',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
    ];



-
    var rulerGeorgaphy = [
        {
            'title' : 'Россия',
            'labelRight' : '66,7%',
            'date' : '15 августа 2016',
            'value' : '5000',
        },
        {
            'title' : 'Европа',
            'labelRight' : '19,1%',
            'date' : '14 августа 2016',
            'value' : '2500',
        },
        {
            'title' : 'Северная Америка',
            'labelRight' : '6,6%',
            'date' : '15 августа 2016',
            'value' : '500',
        },
        {
            'title' : 'Центральная и Южная Америка',
            'labelRight' : '5,5%',
            'date' : '15 августа 2016',
            'value' : '500',
        },
        {
            'title' : 'Ближний Восток',
            'labelRight' : '2,1%',
            'date' : '16 августа 2016',
            'value' : '100',
        },

    ];


-
    var rulerBag = [
        {
            'title' : 'Открытие - Облигации',
            'labelLeft' : '2,79%',
            'labelRight' : '35 000,00 Р',
            'progressValue' : '2.79%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ИИС Рыночная',
            'labelLeft' : '4,38%',
            'labelRight' : '55 000,00 Р',
            'progressValue' : '4.38%',
            'progressColor' : '#da62cc',
        },
        {
            'title' : 'ИИС Рыночная',
            'labelLeft' : '25,49%',
            'labelRight' : '320 000,00 Р',
            'progressValue' : '25.49%',
            'progressColor' : '#b6e329',
        },
        {
            'title' : 'Линейка Apple',
            'labelLeft' : '19,91%',
            'labelRight' : '250 000,00 Р',
            'progressValue' : '19.91%',
            'progressColor' : '#00adeb',
        },
        {
            'title' : 'Линейка P&G',
            'labelLeft' : '47,43%',
            'labelRight' : '250 000,00 Р',
            'progressValue' : '47.43%',
            'progressColor' : '#ff6961',
        }

    ];


-
    var arrayTest = [
        {
            'header' : 'Портфель',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },
        {
            'header' : 'Паевые инвестиционные фонды',
            'list' : [
                {
                    'question' : 'Что такое паевой инвестиционный фонд?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что такое инвестиционный пай?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что такое СЧА?',
                    'answer' : 'Стоимость чистых активов паевого инвестиционного фонда (СЧА) определяется как разница между стоимостью активов этого фонда (денежные средства на счетах и в банках, ценные бумаги, накопленный купонный доход и иные разрешенные активы) и величиной обязательств, подлежащих исполнению за счет указанных активов, на момент определения стоимости чистых активов.'
                },
                {
                    'question' : 'Какие бывают паевые фонды, и чем они отличаются?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как лучше инвестировать?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Каким образом можно получить информацию о состоянии счета инвестора?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какие комиссии / затраты образуются при обслуживании паевых инвестиционных фондов?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Может ли инвестор влиять на инвестиционные решения Управляющей компании?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как и когда рассчитывается расчетная стоимость пая?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что является доходом клиента?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как купить паи паевого фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как продать паи паевого фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какова минимальная сумма инвестиций в паевой фонд?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Выплачиваются ли проценты, дивиденды по паям фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Можно ли обменять паи?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Наследование инвестиционных паев',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'В какие ценные бумаги вкладываются средства ПИФ',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что происходит с инвестиционными паями, если УК обанкротилась?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Гарантируется ли сохранность вложений?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какие риски несет инвестор?',
                    'answer' : 'Ответ'
                }
            ]
        },
        {
            'header' : 'Доверительное управление',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },
        {
            'header' : 'Индивидуальные Инвестиционные счета',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },








    ];