-
    var arrayTest = [
        {
            'header' : 'Портфель',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },
        {
            'header' : 'Паевые инвестиционные фонды',
            'list' : [
                {
                    'question' : 'Что такое паевой инвестиционный фонд?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что такое инвестиционный пай?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что такое СЧА?',
                    'answer' : 'Стоимость чистых активов паевого инвестиционного фонда (СЧА) определяется как разница между стоимостью активов этого фонда (денежные средства на счетах и в банках, ценные бумаги, накопленный купонный доход и иные разрешенные активы) и величиной обязательств, подлежащих исполнению за счет указанных активов, на момент определения стоимости чистых активов.'
                },
                {
                    'question' : 'Какие бывают паевые фонды, и чем они отличаются?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как лучше инвестировать?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Каким образом можно получить информацию о состоянии счета инвестора?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какие комиссии / затраты образуются при обслуживании паевых инвестиционных фондов?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Может ли инвестор влиять на инвестиционные решения Управляющей компании?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как и когда рассчитывается расчетная стоимость пая?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что является доходом клиента?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как купить паи паевого фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как продать паи паевого фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какова минимальная сумма инвестиций в паевой фонд?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Выплачиваются ли проценты, дивиденды по паям фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Можно ли обменять паи?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Наследование инвестиционных паев',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'В какие ценные бумаги вкладываются средства ПИФ',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что происходит с инвестиционными паями, если УК обанкротилась?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Гарантируется ли сохранность вложений?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какие риски несет инвестор?',
                    'answer' : 'Ответ'
                }
            ]
        },
        {
            'header' : 'Доверительное управление',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },
        {
            'header' : 'Индивидуальные Инвестиционные счета',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },








    ];