-
    var rulerProfileRules = [
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Соглашение об использовании личных данных',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Заявление на комплексное обслуживание на рынке ценных бумаг',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Редакция Договора доверительного управления (стандартная форма присоединения), действующая с 20.05.2016г. на текущий день',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Сводный отчет за период',
        },
    ];



-
    var rulerUnitTrustDocuments = [
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Анкета управляющей компании',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Заявление об открытии лицевого счета (для физического лица)',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Редакция Договора доверительного управления (стандартная форма присоединения), действующая с 20.05.2016г. на текущий день',
        },
        {
            'icon' : 'icon-pdf.png',
            'title' : 'Сводный отчет за период',
        },
    ];


-
    var rulerUnitTrustConsolidatedReport = [
        {
            'title' : '«Ингосстрах. Еврооблигации»',
            'list' : [
                {
                    'prop' : 'Текущая стоимость оставшихся паев, руб:',
                    'value' : '167 835,99',
                },
            ],
        },
        {
            'title' : '«Ингосстрах. Денежный рынок»',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '689 466,71',
                },
            ],
        },
        {
            'title' : '«Ингосстрах. Товарно-сырьевой рынок»',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '50 000,00',
                },
            ],
        },
    ];



-
    var rulerUnitTrustBids= [
        {
            'title' : 'ПИФ «Ингосстрах. Облигации»',
            'list' : [
                {
                    'prop' : 'Дата заявки: ',
                    'value' : '29.05.2009',
                },
                {
                    'prop' : '№ заявки: ',
                    'value' : '22.45.01.0438.00.0200',
                },
                {
                    'prop' : '№ лицевого счета: ',
                    'value' : '910555552',
                },
            ],
            'button' : 'Отправить реквизиты для перечисления денежных средств в оплату паев на email'
        },
        {
            'title' : 'ПИФ «Ингосстрах. Сбалансированный»',
            'list' : [
                {
                    'prop' : 'Дата заявки: ',
                    'value' : '12.12.2013',
                },
                {
                    'prop' : '№ заявки: ',
                    'value' : '22.98.01.0438.00.1234',
                },
                {
                    'prop' : '№ лицевого счета: ',
                    'value' : '121000004',
                },
            ],
            'button' : 'Отправить реквизиты для перечисления денежных средств в оплату паев на email'
        },
        {
            'title' : 'ПИФ «Ингосстрах. Риел-Эстейт»',
            'list' : [
                {
                    'prop' : 'Дата заявки: ',
                    'value' : '06.01.2015',
                },
                {
                    'prop' : '№ заявки: ',
                    'value' : '22.90.01.0438.00.1467',
                },
                {
                    'prop' : '№ лицевого счета: ',
                    'value' : '911000456',
                },
            ],
            'button' : 'Отправить реквизиты для перечисления денежных средств в оплату паев на email'
        },
    ];



-
    var rulerUnitTrustPortfolioDetalizationReady= [
        {
            'title' : 'Погашение',
            'list' : [
                {
                    'prop' : 'Дата проведения операции: ',
                    'value' : '10.07.2015',
                },
                {
                    'prop' : 'Сумма операции, руб: ',
                    'value' : '150 000,00',
                },
            ],
        },
        {
            'title' : 'Обмен',
            'list' : [
                {
                    'prop' : 'Дата проведения операции: ',
                    'value' : '10.03.2013',
                },
                {
                    'prop' : 'Сумма операции, руб: ',
                    'value' : '213 191,21',
                },
            ],
        },
        {
            'title' : 'Приобритение',
            'list' : [
                {
                    'prop' : 'Дата проведения операции: ',
                    'value' : '10.08.2013',
                },
                {
                    'prop' : 'Сумма операции, руб: ',
                    'value' : '-100 000,00',
                },
            ],
        },
        {
            'title' : 'Приобритение',
            'list' : [
                {
                    'prop' : 'Дата проведения операции: ',
                    'value' : '10.07.2013',
                },
                {
                    'prop' : 'Сумма операции, руб: ',
                    'value' : '-200 000,00',
                },
            ],
        },
    ];


-
    var rulerUnitTrustPortfolioDetalization= [
        {
            'title' : '',
            'list' : [
                {
                    'prop' : 'Дата приобритения: ',
                    'value' : '07.07.2015',
                },
                {
                    'prop' : 'Сумма паев приобритения, руб: ',
                    'value' : '500 000,00',
                },
            ],
        },
        {
            'title' : '',
            'list' : [
                {
                    'prop' : 'Дата приобритения: ',
                    'value' : '15.06.2015',
                },
                {
                    'prop' : 'Сумма паев приобритения, руб: ',
                    'value' : '100 000,00',
                },
            ],
        },
        {
            'title' : '',
            'list' : [
                {
                    'prop' : 'Дата приобритения: ',
                    'value' : '07.08.2014',
                },
                {
                    'prop' : 'Сумма паев приобритения, руб: ',
                    'value' : '300 000,00',
                },
            ],
        },
        {
            'title' : '',
            'list' : [
                {
                    'prop' : 'Дата приобритения: ',
                    'value' : '27.12.2011',
                },
                {
                    'prop' : 'Сумма паев приобритения, руб: ',
                    'value' : '599 302,53',
                },
            ],
        },
    ];


-
    var rulerUnitTrustPortfolioPif = [
        {
            'title' : 'Ингосстрах. Облигации',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '2 733,86 Р',
                },
            ],
        },
        {
            'title' : 'Ингосстрах. Еврооблигации',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '1 774,04 Р',
                },
            ],
        },
        {
            'title' : 'Ингосстрах. Риел Эстейт',
            'list' : [
                {
                    'prop' : 'Текущая лценка 1 пая, руб:',
                    'value' : '1 310,51 Р',
                },
            ],
        },
    ];



-
    var rulerUnitTrustPortfolio = [
        {
            'title' : 'Ингосстрах. Облигации',
            'labelLeft' : '59,69%',
            'labelRight' : '903 174,44 Р',
            'progressValue' : '59.69%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Ингосстрах. Еврооблигации',
            'labelLeft' : '32,03%',
            'labelRight' : '484 525,04 Р',
            'progressValue' : '32.03%',
            'progressColor' : '#ff6961',
        },
        {
            'title' : 'Ингосстрах. Риел Эстейт',
            'labelLeft' : '8,28%',
            'labelRight' : '125 280,58 Р',
            'progressValue' : '8.28%',
            'progressColor' : '#b6e329',
        },
    ];



-
    var rulerCurrencies = [
        {
            'title' : 'Российский рубль',
            'labelLeft' : '',
            'labelRight' : '4 952,48',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Доллар США',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Евро',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Фунт стерлингов',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Японская Йена',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Швейцарский франк',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
    ];


-
    var rulerIsuers = [
        {
            'title' : 'МинФин России',
            'labelLeft' : '',
            'labelRight' : '1 728,99',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «Силовые машины»',
            'labelLeft' : '',
            'labelRight' : '267,1',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Правительство Москвы в лице Департамента финансов г. Москвы',
            'labelLeft' : '',
            'labelRight' : '263,82',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ПАО «Магнит»',
            'labelLeft' : '',
            'labelRight' : '258,95',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «Акрон»',
            'labelLeft' : '',
            'labelRight' : '245,25',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ПАО «ВымпелКом»',
            'labelLeft' : '',
            'labelRight' : '245,07',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ООО «ИКС 5 Финанс»',
            'labelLeft' : '',
            'labelRight' : '225,79',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «АФК Система»',
            'labelLeft' : '',
            'labelRight' : '206,85',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ООО «МегаФон Финанс»',
            'labelLeft' : '',
            'labelRight' : '202,41',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «Полюс Золото»',
            'labelLeft' : '',
            'labelRight' : '197,91',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Другое',
            'labelLeft' : '',
            'labelRight' : '1 096,54',
            'progressValue' : '58.85%',
            'progressColor' : '#1b7cd0',
        },
    ];

-
    var rulerIndustry = [
        {
            'title' : 'Не определено',
            'labelLeft' : '89,15%',
            'labelRight' : '4 471,61',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Государственные ценные бумаги',
            'labelLeft' : '10,85%',
            'labelRight' : '460,87',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
    ];



-
    var rulerGeorgaphy = [
        {
            'title' : 'Россия',
            'labelRight' : '66,7%',
            'date' : '15 августа 2016',
            'value' : '5000',
        },
        {
            'title' : 'Европа',
            'labelRight' : '19,1%',
            'date' : '14 августа 2016',
            'value' : '2500',
        },
        {
            'title' : 'Северная Америка',
            'labelRight' : '6,6%',
            'date' : '15 августа 2016',
            'value' : '500',
        },
        {
            'title' : 'Центральная и Южная Америка',
            'labelRight' : '5,5%',
            'date' : '15 августа 2016',
            'value' : '500',
        },
        {
            'title' : 'Ближний Восток',
            'labelRight' : '2,1%',
            'date' : '16 августа 2016',
            'value' : '100',
        },

    ];


-
    var rulerBag = [
        {
            'title' : 'Открытие - Облигации',
            'labelLeft' : '2,79%',
            'labelRight' : '35 000,00 Р',
            'progressValue' : '2.79%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ИИС Рыночная',
            'labelLeft' : '4,38%',
            'labelRight' : '55 000,00 Р',
            'progressValue' : '4.38%',
            'progressColor' : '#da62cc',
        },
        {
            'title' : 'ИИС Рыночная',
            'labelLeft' : '25,49%',
            'labelRight' : '320 000,00 Р',
            'progressValue' : '25.49%',
            'progressColor' : '#b6e329',
        },
        {
            'title' : 'Линейка Apple',
            'labelLeft' : '19,91%',
            'labelRight' : '250 000,00 Р',
            'progressValue' : '19.91%',
            'progressColor' : '#00adeb',
        },
        {
            'title' : 'Линейка P&G',
            'labelLeft' : '47,43%',
            'labelRight' : '250 000,00 Р',
            'progressValue' : '47.43%',
            'progressColor' : '#ff6961',
        }

    ];


-
    var arrayTest = [
        {
            'header' : 'Портфель',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },
        {
            'header' : 'Паевые инвестиционные фонды',
            'list' : [
                {
                    'question' : 'Что такое паевой инвестиционный фонд?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что такое инвестиционный пай?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что такое СЧА?',
                    'answer' : 'Стоимость чистых активов паевого инвестиционного фонда (СЧА) определяется как разница между стоимостью активов этого фонда (денежные средства на счетах и в банках, ценные бумаги, накопленный купонный доход и иные разрешенные активы) и величиной обязательств, подлежащих исполнению за счет указанных активов, на момент определения стоимости чистых активов.'
                },
                {
                    'question' : 'Какие бывают паевые фонды, и чем они отличаются?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как лучше инвестировать?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Каким образом можно получить информацию о состоянии счета инвестора?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какие комиссии / затраты образуются при обслуживании паевых инвестиционных фондов?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Может ли инвестор влиять на инвестиционные решения Управляющей компании?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как и когда рассчитывается расчетная стоимость пая?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что является доходом клиента?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как купить паи паевого фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как продать паи паевого фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какова минимальная сумма инвестиций в паевой фонд?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Выплачиваются ли проценты, дивиденды по паям фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Можно ли обменять паи?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Наследование инвестиционных паев',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'В какие ценные бумаги вкладываются средства ПИФ',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что происходит с инвестиционными паями, если УК обанкротилась?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Гарантируется ли сохранность вложений?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какие риски несет инвестор?',
                    'answer' : 'Ответ'
                }
            ]
        },
        {
            'header' : 'Доверительное управление',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },
        {
            'header' : 'Индивидуальные Инвестиционные счета',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },








    ];