-
    var rulerCurrencies = [
        {
            'title' : 'Российский рубль',
            'labelLeft' : '',
            'labelRight' : '4 952,48',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Доллар США',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Евро',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Фунт стерлингов',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Японская Йена',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Швейцарский франк',
            'labelLeft' : '',
            'labelRight' : '0',
            'progressValue' : '0%',
            'progressColor' : '#1b7cd0',
        },
    ];


-
    var rulerIsuers = [
        {
            'title' : 'МинФин России',
            'labelLeft' : '',
            'labelRight' : '1 728,99',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «Силовые машины»',
            'labelLeft' : '',
            'labelRight' : '267,1',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Правительство Москвы в лице Департамента финансов г. Москвы',
            'labelLeft' : '',
            'labelRight' : '263,82',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ПАО «Магнит»',
            'labelLeft' : '',
            'labelRight' : '258,95',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «Акрон»',
            'labelLeft' : '',
            'labelRight' : '245,25',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ПАО «ВымпелКом»',
            'labelLeft' : '',
            'labelRight' : '245,07',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ООО «ИКС 5 Финанс»',
            'labelLeft' : '',
            'labelRight' : '225,79',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «АФК Система»',
            'labelLeft' : '',
            'labelRight' : '206,85',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ООО «МегаФон Финанс»',
            'labelLeft' : '',
            'labelRight' : '202,41',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ОАО «Полюс Золото»',
            'labelLeft' : '',
            'labelRight' : '197,91',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Другое',
            'labelLeft' : '',
            'labelRight' : '1 096,54',
            'progressValue' : '58.85%',
            'progressColor' : '#1b7cd0',
        },
    ];

-
    var rulerIndustry = [
        {
            'title' : 'Не определено',
            'labelLeft' : '89,15%',
            'labelRight' : '4 471,61',
            'progressValue' : '89.15%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'Государственные ценные бумаги',
            'labelLeft' : '10,85%',
            'labelRight' : '460,87',
            'progressValue' : '10.85%',
            'progressColor' : '#1b7cd0',
        },
    ];



-
    var rulerGeorgaphy = [
        {
            'title' : 'Россия',
            'labelRight' : '66,7%',
            'date' : '15 августа 2016',
            'value' : '5000',
        },
        {
            'title' : 'Европа',
            'labelRight' : '19,1%',
            'date' : '14 августа 2016',
            'value' : '2500',
        },
        {
            'title' : 'Северная Америка',
            'labelRight' : '6,6%',
            'date' : '15 августа 2016',
            'value' : '500',
        },
        {
            'title' : 'Центральная и Южная Америка',
            'labelRight' : '5,5%',
            'date' : '15 августа 2016',
            'value' : '500',
        },
        {
            'title' : 'Ближний Восток',
            'labelRight' : '2,1%',
            'date' : '16 августа 2016',
            'value' : '100',
        },

    ];


-
    var rulerBag = [
        {
            'title' : 'Открытие - Облигации',
            'labelLeft' : '2,79%',
            'labelRight' : '35 000,00 Р',
            'progressValue' : '2.79%',
            'progressColor' : '#1b7cd0',
        },
        {
            'title' : 'ИИС Рыночная',
            'labelLeft' : '4,38%',
            'labelRight' : '55 000,00 Р',
            'progressValue' : '4.38%',
            'progressColor' : '#da62cc',
        },
        {
            'title' : 'ИИС Рыночная',
            'labelLeft' : '25,49%',
            'labelRight' : '320 000,00 Р',
            'progressValue' : '25.49%',
            'progressColor' : '#b6e329',
        },
        {
            'title' : 'Линейка Apple',
            'labelLeft' : '19,91%',
            'labelRight' : '250 000,00 Р',
            'progressValue' : '19.91%',
            'progressColor' : '#00adeb',
        },
        {
            'title' : 'Линейка P&G',
            'labelLeft' : '47,43%',
            'labelRight' : '250 000,00 Р',
            'progressValue' : '47.43%',
            'progressColor' : '#ff6961',
        }

    ];


-
    var arrayTest = [
        {
            'header' : 'Портфель',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },
        {
            'header' : 'Паевые инвестиционные фонды',
            'list' : [
                {
                    'question' : 'Что такое паевой инвестиционный фонд?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что такое инвестиционный пай?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что такое СЧА?',
                    'answer' : 'Стоимость чистых активов паевого инвестиционного фонда (СЧА) определяется как разница между стоимостью активов этого фонда (денежные средства на счетах и в банках, ценные бумаги, накопленный купонный доход и иные разрешенные активы) и величиной обязательств, подлежащих исполнению за счет указанных активов, на момент определения стоимости чистых активов.'
                },
                {
                    'question' : 'Какие бывают паевые фонды, и чем они отличаются?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как лучше инвестировать?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Каким образом можно получить информацию о состоянии счета инвестора?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какие комиссии / затраты образуются при обслуживании паевых инвестиционных фондов?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Может ли инвестор влиять на инвестиционные решения Управляющей компании?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как и когда рассчитывается расчетная стоимость пая?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что является доходом клиента?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как купить паи паевого фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Как продать паи паевого фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какова минимальная сумма инвестиций в паевой фонд?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Выплачиваются ли проценты, дивиденды по паям фонда?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Можно ли обменять паи?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Наследование инвестиционных паев',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'В какие ценные бумаги вкладываются средства ПИФ',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Что происходит с инвестиционными паями, если УК обанкротилась?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Гарантируется ли сохранность вложений?',
                    'answer' : 'Ответ'
                },
                {
                    'question' : 'Какие риски несет инвестор?',
                    'answer' : 'Ответ'
                }
            ]
        },
        {
            'header' : 'Доверительное управление',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },
        {
            'header' : 'Индивидуальные Инвестиционные счета',
            'list' : [
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    },
                    {
                        'question' : 'Вопрос',
                        'answer' : 'Ответ'
                    }
                ]
        },








    ];