.content-section.content-section-dark.content-section-padding
	.content-section__inner
		.privacy-policy
			p.
				АО УК «Ингосстрах-Инвестиции». Лицензия ФКЦБ России № 21-000-1-00020 от 25.08.1997 г.
				на осуществление деятельности по управлению инвестиционными фондами,
				паевыми инвестиционными фондами и негосударственными пенсионными фондами,
				без ограничения срока действия. Лицензия ФСФР России № 077-08203-001000 от 23.12.2004 г.
				на осуществление деятельности по доверительному управлению ценными бумагами без ограничения срока действия.
				Раздел Демо-Пиф предназначен для оценки возможной эффективности инвестиций в паевые инвестиционные фонды,
				вероятность которых рассматривается конкретным инвестором. Операции, осуществляемые инвестором с помощью сервиса «Демо-Пиф»,
				не влекут каких-либо юридических последствий как для инвестора, так и для АО УК «Ингосстрах – Инвестиции».
				Никакие действия, осуществляемые пользователем в разделе Демо-Пифы не будут иметь своим результатом приобретение,
				погашение или обмен инвестиционных паев ПИФов под управлением АО УК «Ингосстрах – Инвестиции» или какой-либо другой управляющей компании.