.obj-list-container
    .obj-list.content-section__inner
        .type-row
            .type-cell Выбранная стратегия:
            .type-cell Сбалансированная
        .type-row
            .type-cell Сумма инвестирования (руб.):
            .type-cell 250 000.00