.content-section.content-section--dark.content-section--open-pif
    .content-section__inner
        .section-title
            | Отправить заявку на открытие
        .cards-list-container
            .cards-list.cards-list--call-to-action
                .cards-list__item
                    .card
                        .card__icon.card__icon--investment-fund

                        .card__caption
                            | ПИФы


                .cards-list__item
                    .card
                        .card__icon.card__icon--trust-management

                        .card__caption
                            | ДУ


                .cards-list__item
                    .card
                        .card__icon.card__icon--investment-accs

                        .card__caption
                            | ИИС
