footer.page-footer
	.footer-row
		.footer-row__inner
			.footer__nav-area
				.footer-nav-section
					.footer-nav-title Профиль

					.footer-nav
						.footer-nav__item
							a(href='#') Отчёты

						.footer-nav__item
							a(href='#') Уведомления

						.footer-nav__item
							a(href='#') Пользователь

						.footer-nav__item
							a(href='#') Правила пользования

					.footer-nav
						.footer-nav__item
							a(href='#') Ваш персональный менеджер

						.footer-nav__item
							a(href='#') FAQ

						.footer-nav__item
							a(href='#') Контакты

				.footer-nav-section
					.footer-nav-title Инвестиции

					.footer-nav
						.footer-nav__item
							a(href='#') Портфель

						.footer-nav__item
							a(href='#') ПИФы

						.footer-nav__item
							a(href='#') ДУ

						.footer-nav__item
							a(href='#') ИИС

						.footer-nav__item
							a(href='#')

			.footer__feedback-area
				.feedback
					.feedback__number
						| 8 800 100-48-98

					.feedback__link
						a(href='#').js-modal-open-feedback
							| Заказать звонок

	.footer-row
		.footer-row__inner
			.footer-copy
				| АО УК «Ингосстрах-Инвестиции» &copy; 2011-2017, официальный сайт&nbsp;
				a(href='https://www.ingosinvest.ru/')
					| ingosinvest.ru

