header.page-header
	.header-row
		.header-row__inner
			.form-grid.strict
				.cell
					.header__logo
						.brand-logo
							img(src='assets/img/brand-logo.png' alt='ИНГОССТРАХ Инвестиции')
				.cell
					include ../../../partials/menu-bar

