$accordion-title-padding: 10px;

.accordion {
  border-top: 1px solid $border-color;
  //border-bottom: 1px solid $border-color;
  margin-bottom: $content-section-margin;
}

.accordion__section-title {
  position: relative;
  padding: 23px 0 20px 0;
  font-size: 1.385rem;
  cursor: pointer;
  user-select: none;
  color: $title-color;
  &:not(:nth-last-child(2)) {
    border-bottom: 1px solid $border-color;
  }
  .content-section__inner {
    position:relative;
    padding-left: 70px;
    &::before {
      content: "";
      width: 22px;
      height: 13px;
      position: absolute;
      top: 10px;
      left: 15px;
      background: url(../img/arrow-down.png);
      background-size: cover;
      transition: transform 0.2s linear;
    }
  }


  &:last-child {
    border-bottom: 0;
  }
}

.accordion__section-title.is-active {
  .content-section__inner {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.accordion__section {
  display: none;
  font-size: 1rem;
  color: $title-color;
  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
  .content-section__inner {
    padding: 50px 20px 20px 70px;
  }
  &.is-visible {
    display: block;
  }
}


.accordion-panel__heading {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  text-align: left;
  .title {
    font-family: $base-font-family;
    font-size: 1.385rem;
  }

  .title__note {
    display: block;
    font-family: $base-font-family;
    font-size: $note-font-size;
    color: $text-pale;
    margin-top:8px;
  }

  &::before {
    content: "";
    width: 22px;
    height: 13px;
    position: absolute;
    top: 6px;
    left: 0px;
    background: url(../img/arrow-down.png);
    background-size: cover;
    transition: transform 0.2s linear;
  }

  @media(min-width: $breakpoint-sm) {
    padding: 0 0 0 45px;
  }

  @media(min-width: $breakpoint-md) {
    padding: 0 0 0 55px;
  }

  @media(min-width: $desktop-lg) {
    padding: 0 0 0 75px;
  }

}

.accordion-panel__heading.is-active {
  &::before {
    transform: rotate(180deg);
  }
}

.accordion-panel__body {
  display: none;

  .accordion-panel__body-item {
    margin-top: $accordion-content-padding/3;
    @media(min-width: $breakpoint-sm) {
      margin-top: $accordion-content-padding/2.5;
    }
    @media(min-width: $breakpoint-md) {
      margin-top: $accordion-content-padding;
    }
  }

  &.is-visible {
    display: block;
  }
}