%btn-primary {
  @include button();
  color: white;
  background: $brand-color;
  text-align: center;
  &:hover {
    background-color: #f92a51;
  }
  &:active {
    outline: none;
    background-color: #c21244;
  }
}


%btn-primary-inverted {
  @include button();
  color: $brand-color;
  background: white;
  text-align: center;
  border: 2px solid $brand-color;
  &:hover {
    color: white;
    background-color: #f92a51;
  }
  &:active {
    color: white;
    outline: none;
    background-color: #c21244;
  }
}


%btn-grey {
  @include button();
  color: white;
  background: $color-step-default;
  text-align: center;
  &:hover {
    background-color: lighten($color-step-default,5%);
  }
  &:active {
    outline: none;
    background-color: darken($color-step-default,5%);
  }
}


.btn-bordered {
  @include button();
  color: $brand-color;
  border: 2px solid $brand-color;
}

.btn-flat {
  @include button();
  color: white;
  background: gray;
}

.btn-sm {
  padding: 8px;
  font-size: $note-font-size;
}

.btn-primary {
  @extend %btn-primary;

  min-height: $input-height / 2;

  @media(min-width: $breakpoint-md) {
    min-height: $input-height;
  }
}

.btn-primary-inverted {
  @extend %btn-primary-inverted;

  min-height: $input-height / 2;

  @media(min-width: $breakpoint-md) {
    min-height: $input-height;
  }
}

.btn-grey {
  @extend %btn-grey;

  min-height: $input-height / 2;

  @media(min-width: $breakpoint-md) {
    min-height: $input-height;
  }
}

button {
  & + button {
    margin-top: 20px;

    @media(min-width: $breakpoint-md) {
      margin-top: 30px;
    }
  }
  &.small {
    @media(min-width: $breakpoint-md) {
      display: block;
      max-width: 280px;
      margin: 0 auto;
      .cell:first-child > & {
        float: right;
      }
      .cell:last-child > & {
        float: left;
      }
    }

  }
}


.icon-test {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #999;
}


.btn-block {
  position: relative;
  @extend .form-grid;
  table-layout: auto!important;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  margin: 35px 0;
  font-size: 1.154rem;
  font-family: $base-font-family;
  color: $title-color;
  @media(min-width: 675px) {
    font-size: 1.385rem;
  }
  > .cell {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 13px!important;
    padding-right: 13px!important;
    @media(min-width: 675px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &.cellIconLeft {}
    &.cellIconRight {}
    &.cellTitle {
      width: 100%;
    }
    &:first-child {
      padding-left: 15px!important;
      @media(min-width: 675px) {
        padding-left: 30px!important;
      }
    }
    &:last-child {
      padding-right: 15px!important;
      @media(min-width: 675px) {
        padding-right: 30px!important;
      }
    }
  }

}