$chat-message-font-size: 14px;

.chat {

}

.chat__message {

}

.chat-manager {
  //display: table;
  width: 100%;
  @media(min-width:$breakpoint-md) {
    padding: 20px $tab-content-padding-h 20px;
  }
  //border-bottom: 1px solid $border-color;
  //margin-bottom: 60px;
  .content-section__inner {
    padding: 0;
  }
}

.chat-manager__preview {
  /*overflow: hidden;
  display: table-cell;
  vertical-align: top;*/
}

.chat-manager__actions {
  position:absolute;
  bottom:0;
  font-size: 1rem;
  white-space: nowrap;
  @media(min-width: $breakpoint-md) {
    white-space: normal;
  }
  /*display: table-cell;
  vertical-align: top;
  text-align: right;*/
}


.chat__message--companion {

}

.person-preview {
  @include clearfix();
  display: table;
  margin:0 auto;
  /*width: 100%;
  @media(min-width: $breakpoint-md) {
    width: auto;
  }*/
  .modal & {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

.person-preview__actions {
  .modal & {
    margin-top: 75px;
  }
}

.person-preview__image {
  display: table-cell;
  vertical-align: top;
  width: 50px;
  height: 50px;
  border-radius: 90%;
  img {
    width: 50px;
    height: 50px;
    background: lightgray;
    border-radius: 90%;
  }
  @media(min-width:$breakpoint-md) {
    width: 100px;
    height: 100px;
    img {
      width: 100px;
      height: 100px;
    }
  }

}

.person-preview__info {
  position:relative;
  padding-bottom: 40px;
  padding-left: 20px;
  display: table-cell;
  vertical-align: top;
  @media(min-width:$breakpoint-md) {
    padding-left: 40px;
  }
  .modal & {
    padding-bottom: 0;
  }
}

.person-preview__name {
  font-size: 1.154rem;
}

.person-preview__contacts {
  font-size: 1rem;
  font-family: $base-font-family-light;
  margin-top: 5px;
}

.chat-title {
  position: relative;
  top: -22px;
  left: 140px;
  font-size: 18px;
}

.chat {
  padding: 0;
}

.chat__messages-tread {
  height: 310px;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat__post {
  position: relative;
  //width: 464px;
  margin-left: 60px;
  margin-bottom: 15px;
  padding: 15px 50px 15px 18px;
  line-height: 1.4;
  background-color: #bfeeff;
  border-radius: $border-radius;
  &::before {
    content: attr(data-post-time);
    position: absolute;
    font-size: $chat-message-font-size;
    bottom: 15px;
    right: 15px;
    color: #666;
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../../assets/img/arrow-message-client.png) no-repeat top center;
    background-size: cover;
    float: right;
    height: 8px;
    width: 4px;
    top: 43%;
    right: -4px;
  }
  @media(min-width:$breakpoint-md) {
    margin-bottom: 15px;
    padding: 15px 80px 15px 18px;
    &:before {
      right: 35px;
    }
  }
}

.chat__post-message {
  font-size: $chat-message-font-size;
}

.chat__post--companion {
  //margin-left: 62px;
  background: #f3f4f4;
  //position: relative;
  &::before {
    //right: -142px;
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../../assets/img/arrow-message-manager.png) no-repeat top center;
    background-size: cover;
    float: left;
    height: 8px;
    width: 4px;
    top: 43%;
    left: -4px;
  }
  img {
    position: absolute;
    top: 0;
    left: -60px;
    width: 40px;
    height: 40px;
  }
}

.chat__post.is-answer {

}

.chat__post--companion.is-answer {
}

.chat__input-area {
  margin-top: 28px;
  position: relative;
}

.chat__textarea {
  width: 100%;
  padding: 10px 106px 10px 18px;
  font-size: $chat-message-font-size;
  min-height: 80px;
  display: block;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  resize: none;
  background: $dark-bg-color;
}

.chat__submit-message {
  position: relative;
}

.chat__submit-message {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background: $degree-color;
  border-radius: 100%;

}


.chat-submit-area {

}