form {
  width: 100%;
}

.form-cabinet-connection-data {
 /* max-width: 554px;
  margin: 60px auto;*/
}

.form-cabinet-connection-verification {
  /*max-width: 770px;
  margin: 33px auto 72px;*/
}

.form-sms-verification {
  margin-top: 30px;
  .form-title {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-row--sms-verification {
    margin-bottom: 14px;
  }
}

.form-autorisation-verification {

}


.form-item--password {
  @media(max-width: $breakpoint-form-max) {
    padding-bottom: 35px;
  }
  @media(max-width: $breakpoint-md-max) {
    padding-bottom: 25px;
  }
}


.form-cabinet-connection-password {
  max-width: $desktop-lg;
  //margin: 30px auto;
  .form-row--login {
    max-width: 260px;
  }

  .form-item--password-create {
    width: 358px;
  }

  @media(min-width: $breakpoint-md) {
    //margin: 50px auto;
  }
}

.form-update-personal-user-data {
  $form-item-padding: 7%;

  margin-top: $content-section-margin;
  .form-control {
    max-width: 265px;
  }

  .form-row__title {
    display: block;
  }

  .form-row--password {
    @include clearfix();
  }

  .form-item--password-create,
  .form-item--password-note {
    width: 50%;
    float: left;
  }

  .form-row--password-strength {
    width: 50%;
    display: table;
    overflow: hidden;
  }

  .form-row--password-strength .form-item {
    width: 50%;
    display: table-cell;
  }

  .form-item--password-strength-title {
    padding-right: $form-item-padding;
  }

  .form-item--password-note {
    font-size: 14px;
  }

  .form-note {
    text-align: left;
    line-height: 1.4;
    padding-left: $form-item-padding;
  }

  .form-row--submit {
    margin-top: 30px;
    text-align: left;
  }
}

.form-reason-to-change-manager {
  margin-bottom: 0;
  .form-row:last-child {
    margin-bottom: 0;
  }

  textarea.form-control {
    min-height: 232px;
    font-size: 1.154rem;
  }

  .form-submit {
    padding-left: 18px;
    padding-right: 20px;
  }

  .icon-change {
    @include icon();
    margin-right: 10px;
    width: 16px;
    height: 18px;
    background: url(../img/icons/icon-mini-change.png);
    background-size: cover;
  }

  .icon-change--white {
    background: url(../img/icons/icon-mini-popup-change.png);
    width: 18px;
    height: 18px;
    background-size: cover;
  }
}

/*.form-autorisation {
  //max-width: 750px;
  margin: 45px auto 0;
  .form-control {
    min-width: 260px;
  }

  !*.form-submit {
    width: 162px;
  }*!

  .form-row--note {
    margin-top: 42px;
  }

  .form-item--password .form-item__title {
    display: block;
  }

    @media(min-width: $breakpoint-md) {
    margin: 75px auto 0;
  }
}*/

.form-row--note {
  margin-top: 40px;

  @media(min-width: $breakpoint-md) {
    margin-top: 70px;
  }
}

.link-remind-pass {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  @extend .link-text-small;

  @media(min-width: $breakpoint-form) {
    position: absolute;
    left: auto;
    bottom: auto;
    top: 5px;
    right: 0;
    transform: none;

  }
}


.form-strategy-planning {
  margin: 25px 0;
  .form-row--risks {
    padding: 21px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  .form-row--contains-selects {
    display: table;
    width: 100%;
  }

  .form-row__title {
    display: block;
  }

  .form-fieldset {
    display: table-cell;
    vertical-align: top;
    &:first-child {
      width: 270px;
    }

    &:last-child {
      padding-left: 120px;
      padding-top: 33px;
      font-size: 14px;
      padding-right: 50px;
      line-height: 1.4;
    }
  }

  .form-outgoing-link {
    margin-top: 20px;
  }
}