$form-grid-padding: 40px;

@mixin form-grid-table() {
  display: table;
  width: 100%;
  table-layout: fixed;
  > .cell {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-left: $form-grid-padding / 2;
    padding-right: $form-grid-padding / 2;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    &.style-full {
      width: 100%;
    }
    &.style-nowrap {
      white-space: nowrap;
    }
  }

  &.compact {
    border-collapse: collapse;
    border-radius: $border-radius;
    border-style: hidden;
    box-shadow: 0 0 0 1px $border-color;
    > .cell {
       padding: 0;
       background: $dark-bg-color;
       border: 1px solid $border-color;
       &:first-child {border-radius: $border-radius 0 0 $border-radius;}
       &:last-child {border-radius: 0 $border-radius $border-radius 0;}
       > * {
         background: none;
         border: none;
       }
     }
  }

}


.form-grid {
  position: relative;
  > .cell {
    position: relative;
    margin: 10px 0;
  }

  &.strict {
    @include form-grid-table();
  }

  @media(min-width: $breakpoint-md) {
    @include form-grid-table();
  }

}





