.brand-logo {
  img {
    display: block;
    max-width: 100%;

    @media(max-width: $breakpoint-md-max) {
      max-width: 50%;
    }
  }
}

.company-decoration-signature {
  max-width: 1441px;
  width: 100%;
  margin: 0 auto;
  height: 588px;
}