.media-list {
  > .media-list__item {
    &:nth-child(2n+1):not(:only-child) {
      background: $dark-bg-color;
    }
  }

  .content-section + & {
    margin-top: -(30px + 30px - 50px);

    @media(min-width: $breakpoint-md) {
      margin-top: -(70px + 55px - 80px);
    }

    > .media-list__item {
      padding-top: 0;
    }
  }
}


.media-list__item {
  padding: 40px 0;
}

.media-list__item-inner {
  @extend %container;
}


.media-preview {

}


.media-preview__viewport {
  position: relative;

  img {
    width:100%;
    display: block;
  }
}


.media-preview__video-length-label {
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-family: $base-font-family-light;
  font-size: 1rem;
  padding: 10px;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 18px solid #fff;
    border-bottom: 10px solid transparent;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    top: 2px;
  }

  .media-preview__viewport & {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


.media-preview__description {
  padding: 30px 0 0 0;

  @media(min-width: $breakpoint-md) {
    padding: 30px 30px 0;
  }
}


.media-preview__caption {
  > p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.media-preview__posttime {
  @extend p;
  margin-bottom: 0;
}