.tabs {
  @include section-decorated();
  @include clearfix();

  &.not-shadow {
    box-shadow: none;
  }
}

.tabs__nav {
  display: flex;
  border-bottom: 1px solid $border-color;

  &.buttoned {
    border:none;
    border-collapse: collapse;
    border-radius: $border-radius;
    border-style: hidden;
    box-shadow: 0 0 0 1px $border-color;
  }
}

.tabs__nav-item,
.tabs__nav-item-custom {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 18px $tab-content-padding-h 15px;
  margin-bottom: -1px;
  font-family: $base-font-family-black;
  color: $text-color;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.4;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-font-smoothing: antialiased;

  .buttoned & {
    border: 1px solid $border-color;
    text-align: center;
    background: $dark-bg-color;
    color: $title-color;
    font-family: $base-font-family;
    font-size: 1.154rem;
    text-transform: none;
    line-height: 1;
    padding-left: 0;
    padding-right: 0;
    margin: 0!important;
    &:first-child {border-radius: $border-radius 0 0 $border-radius;}
    &:last-child {border-radius: 0 $border-radius $border-radius 0;}
  }
}

.tabs__nav-item.is-active,
.tabs__nav-item-custom.is-active {
  position: relative;
  z-index: 2;
  border-bottom: 3px solid $brand-color;

  .buttoned & {
    border: 1px solid $border-color;
    background: $color-step-default;
    color: white;
  }
}

.tab-container {
  display: none;
  //margin-bottom: $content-section-margin;
  background: $main-bg-color;
  //border-bottom: 1px solid $border-color;
}

.tab-container.is-visible {
  display: block;
}

.tab-container__header {
  display: table;
  width: 100%;
  padding: 18px $tab-content-padding-h 15px;
}

.tab-container__header-title {
  //display: table-cell;
  //vertical-align: middle;
  .section-title {
    margin-bottom: 0;
  }
}

.tab-container__header-actions {
  //display: table-cell;
  //vertical-align: middle;
  //text-align: right;
}

.tab-container__section-inner {
  padding-top: 30px;
  @media(min-width: $breakpoint-md) {
    padding-top: 50px;
  }
  > *:not(.section-title)first-child {
    margin-top: 0;
  }
}