table.table
	tr
		th
			| Дата операции

		th
			| Тип

		th
			| Валюта

		th
			| Сумма операции

	tr
		td 30.09.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| 90 000
				span.price-inline__dot-value
					| 00

	tr
		td(colspan='3')
			| Итого:

		td
			span.price-inline
				| 480 543
				span.price-inline__dot-value
					| 00


