table.table.table--unit-trust-coupons
	tr
		th

		th

		th

		th

		th

		th

	tr
		td ДВМП (FESCO), БО 2

		td 08.06.2017

		td
			span.price-inline
				| 12
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 59
				span.price-inline__dot-value
					| 84

		td
			span.price-inline
				| 500
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 29 920
				span.price-inline__dot-value
					| 00


	tr
		td(colspan='5')
			| Итого

		td
			span.price-inline
				| 575 129
				span.price-inline__dot-value
					| 74