table.table.table--trust-management-inputs-outputs
	tr
		th
			| Дата операции

		th
			| Тип

		th
			| Валюта

		th
			| Сумма операции

	tr
		td(colspan='4')
			| ПИФ:&nbsp;
			strong
				| «Ингосстрах. Облигации»

	tr
		td
			| 01.06.2015

		td
			| 22.45.01.0438.00.0200

		td
			| 910555552

		td
			span.link-print Распечатать

	tr
		td(colspan='4')
			| ПИФ:&nbsp;
			strong
				| «Ингосстрах. Сбалансированный»


