table.table.table--incoming-coupons
	tr
		th

		th
			| Начисление

	tr
		td
			| Комиссия брокера (посредника)

		td
			span.price-inline
				| 282
				span.price-inline__dot-value
					| 47

			|  (в том числе НДС&nbsp;
			span.price-inline
				| 43
				span.price-inline__dot-value
					| 09
				| ) RUB

	tr
		td
			| Комиссия биржи (торговой системы)

		td
			span.price-inline
				| 336
				span.price-inline__dot-value
					| 81

			| (в том числе НДС&nbsp;
			span.price-inline
				| 51
				span.price-inline__dot-value
					| 38
				| ) RUB

	tr
		td
			| Комиссия депозитария (регистратора)

		td.column-2
			span.price-inline
				| 65
				span.price-inline__dot-value
					| 16

			|  (в том числе НДС&nbsp;
			span.price-inline
				| 9
				span.price-inline__dot-value
					| 94
				| ) RUB

	tr
		td
			| Комиссия банка

		td
			span.price-inline
				| 75
				span.price-inline__dot-value
					| 00

			|  (в том числе НДС&nbsp;
			span.price-inline
				| 11
				span.price-inline__dot-value
					| 44
				| ) RUB

	tr
		td
			| Вознаграждение доверительного управляющего за управление

		td

	tr
		td
			| Расчеты с бюджетом по НДФЛ

		td