table.table
	thead
		tr
			th
				| Номер&nbsp;
				span.line-break
					| и дата сделки

			th
				| Эмитент (выпуск),
				span.line-break
					| номер гос. рег.

			th
				| Вид сделки
				span.line-break
					| (род сделки)

			th
				| Вид сделки
				span.line-break
					| Контрагент

	tbody
		tr
			td
				| 2571330351 от 04.03.2016, 14:21
			td
				| Элемент Лизинг, БО-03, 4B02-03-36193-R
			td
				| Покупка
			td
				| ЗАО «ФБ ММВБ»

		tr
			td
				| 1460175960 от 18.04.2016, 18:26
			td
				| Срочного биржевого рынка, RTS-6, 16M150616CA 87500
			td
				| Покупка
			td
				| ОАО «РТС»

		tr
			td
				| 2585915662 от 19.04.2016, 18:02
			td
				| Российские железные дороги 18 обл, 4-18-65045-D
			td
				| Покупка
			td
				| ЗАО «ФБ ММВБ»

		tr
			td
				| 1476093898 от 04.05.2016, 18:40
			td
				| Срочного биржевого рынка, RTS-6, 16M150606PA 90000
			td
				| Покупка
			td
				| ОАО «РТС»

		tr
			td
				| 1476095608 от 04.05.2016, 18:41
			td
				| Срочного биржевого рынка, RTS-6, 16M150616CA 87500
			td
				| Продажа
			td
				| ОАО «РТС»