table.table
	thead
		tr
			th Тип ЦБ

			th Наименование

			th ISIN

			th Средне&mdash;инвестированная сумма

			th Текущая оценка

			th Доход, RUB

	tbody
		tr
			td Облигация

			td PSB Finance S.A.-5-2016-euro

			td XS0542658852

			td
				span.price-inline
					| 104 227
					span.price-inline__dot-value
						| 51

			td
				span.price-inline
					| 105 857
					span.price-inline__dot-value
						| 75

			td
				span.price-inline
					| 2 107
					span.price-inline__dot-value
						| 75