table.table.table-management-structure
	thead
		tr
			th Финансовый инструмент
			th ISIN
			th Код финансового инструмента
			th Тип вложения
			th Количество
			th
				| Балансовая стоимость, руб.
				span.asterisk  *
			th в том числе переоценка, руб.
			th Процент от всего по бал. ст-ти
			th Дата котировки
			th
				| Текущая оценка 1 бумаги RUR
				span.asterisk  **
			th
				| Текущая оценка RUR
				span.asterisk  **
			th Процент от всего по оценке
			th Дата погашения (оферты)

	tbody
		tr
			td.title 4В021103255В Зенит БО-11
			td RU000A0JUGY0
			td Зенит БО-11
			td Облигация
			td 980
			td.title
				| 987 059.
				span.fraction 36
			td –
			td 40.94%
			td 19.07.2016
			td
				| 1 002.
				span.fraction.fraction_gray 00
			td
				| 981 960.
				span.fraction.fraction_gray 00
			td 40.45%
			td.title 05.09.2016

		tr
			td.title 4В021103255В Зенит БО-11; НКД
			td RU000A0JUGY0
			td Зенит БО-11
			td Купон
			td –
			td.title –
			td –
			td 0.00%
			td 20.07.2016
			td
				| 49.
				span.fraction.fraction_gray 51
			td
				| 48 519.
				span.fraction.fraction_gray 80
			td 2.00%
			td.title 01.09.2016

		tr
			td.sum.sum_left-border(colspan='5')
				| по всем облигациям предприятий и организаций (кроме
				| ипотечных)
			td.sum
				| 987 059.
				span.fraction 36
			td.sum
			td.sum 40.94%
			td.sum
			td.sum
			td.sum
				| 1 030 479.
				span.fraction.fraction_gray 80
			td.sum 42.45%
			td.sum.sum_right-border

		tr
			td.title Деньги у брокера, р/с 30601810100001016021 (RUB)
			td
			td
			td Деньги
			td
				| 209.
				span.fraction.fraction_gray 34
			td.title
				| 209.
				span.fraction 34
			td
			td 0.01%
			td
			td
			td
				| 209.
				span.fraction.fraction_gray 34
			td 0.01%
			td.title

		tr
			td.sum.sum_left-border(colspan='5') по всем денежным стредствам у брокера
			td.sum
				| 209.
				span.fraction 34
			td.sum
			td.sum 0.01%
			td.sum
			td.sum
			td.sum
				| 209.
				span.fraction.fraction_gray 34
			td.sum 0.01%
			td.sum.sum_right-border

		tr
			td.title р/с 407018108000000028886 (RUB) в Банк ГПБ (АО)
			td
			td
			td Деньги
			td
				| 62 229.
				span.fraction.fraction_gray 67
			td.title
				| 62 229.
				span.fraction 67
			td
			td 2.58%
			td
			td
			td
				| 62 229.
				span.fraction.fraction_gray 67
			td 2.56%
			td.title
		tr
			td.title р/с 407018106000100000025 (RUB) в Банк СОЮЗ (АО)
			td
			td
			td Деньги
			td
				| 11 606.
				span.fraction.fraction_gray 63
			td.title
				| 11 606.
				span.fraction 63
			td
			td 0.48%
			td
			td
			td
				| 11 606.
				span.fraction.fraction_gray 63
			td 2.56%
			td.title
		tr
			td.title р/с 407018409000100000025 (RUB) в Банк СОЮЗ (АО)
			td
			td
			td Деньги
			td
				| 21 004.
				span.fraction.fraction_gray 13
			td.title
				| 21 004.
				span.fraction 13
			td
			td 55.98%
			td 20.07.2016
			td
			td
				| 1 323 031.
				span.fraction.fraction_gray 24
			td 54.50%
			td.title
		tr
			td.sum.sum_left-border(colspan='5') по всем прочим вложениям
			td.sum
				| 1 423 509.
				span.fraction 18
			td.sum
			td.sum 59.05%
			td.sum
			td.sum
			td.sum
				| 1 396 887.
				span.fraction 54
			td.sum 57.54%
			td.sum.sum_right-border
	tfoot
		tr
			td.sum.sum_left-border.sum_top-bottom-border
			td.sum.sum_top-bottom-border.total(colspan='2') по всем вложениям:
			td.sum.sum_top-bottom-border.total(colspan='2')
			td.sum.sum_top-bottom-border
				| 2 410 777.
				span.fraction 88
			td.sum.sum_top-bottom-border
			td.sum.sum_top-bottom-border 100.00%
			td.sum.sum_top-bottom-border
			td.sum.sum_top-bottom-border
			td.sum.sum_top-bottom-border
				| 2 427 556.
				span.fraction 68
			td.sum.sum_top-bottom-border 100.00%
			td.sum.sum_right-border.sum_top-bottom-border
