table.table
	thead
		tr
			th Тип ЦБ

			th Наименование

			th ISIN

			th Средне&mdash;инвестированная сумма

			th Текущая оценка

			th Доход, RUB

	tbody
		tr
			td Облигация

			td ОФЗ 26207

			td RU000AOJS3W6

			td
				span.price-inline
					| 379 423
					span.price-inline__dot-value
						| 17

			td
				span.price-inline
					| 423 300
					span.price-inline__dot-value
						| 41

			td
				span.price-inline
					| 51 406
					span.price-inline__dot-value
						| 24