.table-content.full
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview.user-question.is-solved
						.file-preview__icon
							span.icon-question

						.file-preview__details
							p
								a(href='#').user-question__name Изменение рассчетного счета

							p.user-question__status
								| Данный вопрос решен
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview.user-question
						.file-preview__icon
							span.icon-question

						.file-preview__details
							p
								a(href='#').user-question__name Как продать ПИФ?

							p.user-question__status
								| Вопрос ожидает ответа менеджера