.table-content.full
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell ФИО:
					.type-cell Ковалев Сергей Алексеевич
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell Дата рождения:
					.type-cell 15.02.1981
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell Паспорт:
					.type-cell
						| серия: 85 20
						br
						| номер: 897564
						br
						| выдан: ОТДЕЛОМ УФМС РОССИИ ПО МОСКОВСКОЙ ОБЛ. В ЦЕНТРАЛЬНОМ Р-НЕ ГОР. МОСКВЫ
						br
						| дата выдачи: 21.05.1999
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell Адрес:
					.type-cell г. Москва, ул. Новодмитровская, д. 5, кв. 157
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell Телефон:
					.type-cell +7 928 897 56-45
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell к/с::
					.type-cell 30101810145250000411 в отделении 1 Главного управления Центрального банка Российской Федерации по Центральному федеральному округу г. Москва
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell БИК:
					.type-cell 044525411
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell ИНН:
					.type-cell 7702070139
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell КПП:
					.type-cell 77093002
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell ИИН:
					.type-cell 7705136973
	.type-row
		.type-cell
			.content-section__inner
				.table-content
					.type-cell р/с::
					.type-cell № 430232810700002000004