.table-content.full
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview
						.file-preview__icon
							span.icon-pdf

						.file-preview__details
							p Соглашение об использовании личных данных

							p
								a(href='#') Скачать
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview
						.file-preview__icon
							span.icon-pdf

						.file-preview__details
							p Заявление на комплексное обслуживание на рынке ценных бумаг

							p
								a(href='#') Скачать
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview
						.file-preview__icon
							span.icon-pdf

						.file-preview__details
							p Форма W-8BEN

							p
								a(href='#') Скачать
	.type-row
		.type-cell
			.files-list.content-section__inner
				.files-list__item
					.file-preview
						.file-preview__icon
							span.icon-pdf

						.file-preview__details
							p Соглашение о защите инвестиций

							p
								a(href='#') Скачать