table.table-unstyled.table-client-details
	tr
		td ФИО:

		td Ковалев Сергей Алексеевич

	tr
		td Дата рождения:

		td 15.02.1981

	tr
		td Паспорт:

		td
			| серия: 85 20
			br
			| номер: 897564
			br
			| выдан: ОТДЕЛОМ УФМС РОССИИ ПО МОСКОВСКОЙ ОБЛ. В ЦЕНТРАЛЬНОМ Р-НЕ ГОР. МОСКВЫ
			br
			| дата выдачи: 21.05.1999

	tr
		td Адрес:

		td г. Москва, ул. Новодмитровская, д. 5, кв. 157

	tr
		td Телефон:

		td +7 928 897 56-45

	tr
		td к/с:

		td 30101810145250000411 в отделении 1 Главного управления Центрального банка Российской Федерации по Центральному федеральному округу г. Москва

	tr
		td БИК:

		td 044525411

	tr
		td ИНН:

		td 7702070139

	tr
		td КПП:

		td 77093002

	tr
		td р/с:

		td № 430232810700002000004