table.table.table--unit-trust-coupons
	tr
		th Ценная бумага

		th Дата выплаты

		th Ставка купона,&nbsp;
			span.line-break
				| % годовых

		th Сумма купона

		th Количество бумаг

		th Сумма выплаты, RUB

	tr
		td ДВМП (FESCO), БО 2

		td 08.06.2017

		td
			span.price-inline
				| 12
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 59
				span.price-inline__dot-value
					| 84

		td
			span.price-inline
				| 500
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 29 920
				span.price-inline__dot-value
					| 00

	tr
		td ОФЗ 26207

		td 20.02.2016

		td
			span.price-inline
				| 8
				span.price-inline__dot-value
					| 15

		td
			span.price-inline
				| 40
				span.price-inline__dot-value
					| 64

		td
			span.price-inline
				| 411
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 16 703
				span.price-inline__dot-value
					| 04

	tr
		td ОткрФКББ04

		td 20.02.2016

		td
			span.price-inline
				| 15
				span.price-inline__dot-value
					| 50

		td
			span.price-inline
				| 78
				span.price-inline__dot-value
					| 14

		td
			span.price-inline
				| 3 586
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 280 210
				span.price-inline__dot-value
					| 04

	tr
		td ДельтаКредит 11 ИП

		td 12.01.2016

		td
			span.price-inline
				| 8
				span.price-inline__dot-value
					| 50

		td
			span.price-inline
				| 21
				span.price-inline__dot-value
					| 42

		td
			span.price-inline
				| 1 690
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 36 199
				span.price-inline__dot-value
					| 80

	tr
		td ДельтаКредит 11 ИП

		td 04.04.2016

		td
			span.price-inline
				| 8
				span.price-inline__dot-value
					| 50

		td
			span.price-inline
				| 21
				span.price-inline__dot-value
					| 19

		td
			span.price-inline
				| 1 690
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 35 811
				span.price-inline__dot-value
					| 10

	tr
		td Элемент Лизинг, БО-04

		td 06.07.2016

		td
			span.price-inline
				| 14
				span.price-inline__dot-value
					| 50

		td
			span.price-inline
				| 36
				span.price-inline__dot-value
					| 15

		td
			span.price-inline
				| 128
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 4 627
				span.price-inline__dot-value
					| 20

	tr
		td Элемент Лизинг, БО-03

		td 31.05.2016

		td
			span.price-inline
				| 14
				span.price-inline__dot-value
					| 50

		td
			span.price-inline
				| 36
				span.price-inline__dot-value
					| 15

		td
			span.price-inline
				| 1 724
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 62 322
				span.price-inline__dot-value
					| 60

	tr
		td ФК ОТКРЫТИЕ, 02

		td 23.06.2016

		td
			span.price-inline
				| 14
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 69
				span.price-inline__dot-value
					| 81

		td
			span.price-inline
				| 132
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 9 214
				span.price-inline__dot-value
					| 92

	tr
		td СУЭК Финанс 05 обл

		td 25.02.2016

		td
			span.price-inline
				| 8
				span.price-inline__dot-value
					| 70

		td
			span.price-inline
				| 43
				span.price-inline__dot-value
					| 38

		td
			span.price-inline
				| 2 308
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 100 121
				span.price-inline__dot-value
					| 04

	tr
		td(colspan='5')
			| Итого

		td
			span.price-inline
				| 575 129
				span.price-inline__dot-value
					| 74

