table.table.table--unit-trust-coupons
    tr
        th Актив

        th Валюта

        th Ставка купона,&nbsp;
            span.line-break
                | % годовых

        th Сумма купона

        th Количество бумаг

        th Сумма выплаты, USD

    tr
        td Номос-Банк
            span.line-break
                | XS0776121062

        td 13.01.2016

        td
            span.price-inline
                | 11
                span.price-inline__dot-value
                    | 25

        td
            span.price-inline
                | 56
                span.price-inline__dot-value
                    | 25

        td
            span.price-inline
                | 100
                span.price-inline__dot-value
                    | 00

        td
            span.price-inline
                | 5 625
                span.price-inline__dot-value
                    | 00

    tr
        td ВТБ
            span.line-break
                | XS0810596832

        td 07.06.2016

        td
            span.price-inline
                | 9
                span.price-inline__dot-value
                    | 50

        td
            span.price-inline
                | 47
                span.price-inline__dot-value
                    | 50

        td
            span.price-inline
                | 13
                span.price-inline__dot-value
                    | 00

        td
            span.price-inline
                | 617
                span.price-inline__dot-value
                    | 50


    tr
        td(colspan='5')
            | Итого

        td
            span.price-inline
                | 6 242
                span.price-inline__dot-value
                    | 50
