table.table
	thead
		tr
			th Дата проведения операции

			th Тип операции

			th
				| Количество
				span.line-break
					| паев, шт.

			th
				| Цена одного
				span.line-break
					| пая, руб.

			th
				| Сумма&nbsp;операции,
				span.line-break
					|  руб.

			th
				| Фонд на паи которого произведен обмен

			th
				| Количество паев при&nbsp;операции обмена

	tbody
		tr
			td(colspan='7').table-row-title
				| Наименование ПИФа:&nbsp;
				strong
					| «Ингосстрах. Облигации»

		tr
			td 10.08.2014

			td Приобретение

			td
				span.price-inline
					| 177
					span.price-inline__dot-value
						| 6593382

			td
				span.price-inline
					| 1 125
					span.price-inline__dot-value
						| 75

			td
				span.price-inline
					| -200 000
					span.price-inline__dot-value
						| 00

			td

			td