table.table.table--unit-trust-bids
	tr
		th
			| Дата заявки

		th
			| № заявки

		th
			| № лицевого счета

		th
			| Реквизиты для перечисления денежных средств в оплату паев

	tr
		td(colspan='4')
			| Паевый инвестиционный фонд:&nbsp;
			strong
				| «Ингосстрах. Облигации»

	tr
		td
			| 01.06.2015

		td
			| 22.45.01.0438.00.0200

		td
			| 910555552

		td
			span.link-print Распечатать

	tr
		td(colspan='4')
			| Паевый инвестиционный фонд:&nbsp;
			strong
				| «Ингосстрах. Сбалансированный»

	tr
		td
			| 12.12.2013

		td
			| 22.98.01.0438.00.1234

		td
			| 121000004

		td
			span.link-print Распечатать


	tr
		td(colspan='4')
			| Паевый инвестиционный фонд:&nbsp;
			strong
				| «Ингосстрах. Риэл-Эстейт»

	tr
		td
			| 29.05.2009

		td
			| 22.90.01.0438.00.1467

		td
			| 911000456

		td
			span.link-print Распечатать
