table.table.table--unit-trust-coupons
    tr
        th Ценная бумага

        th Дата выплаты

        th Ставка купона,&nbsp;
            span.line-break
                | % годовых

        th Сумма купона

        th Количество бумаг

        th Сумма выплаты, USD

    tr
        td PSB Finance S.A.-5-2016-евро

        td 13.01.2016

        td
            span.price-inline
                | 11
                span.price-inline__dot-value
                    | 25

        td
            span.price-inline
                | 56
                span.price-inline__dot-value
                    | 25

        td
            span.price-inline
                | 100
                span.price-inline__dot-value
                    | 00

        td
            span.price-inline
                | 5 625
                span.price-inline__dot-value
                    | 00

    tr
        td VTB Eurasia Limited

        td 07.06.2016

        td
            span.price-inline
                | 9
                span.price-inline__dot-value
                    | 50

        td
            span.price-inline
                | 47
                span.price-inline__dot-value
                    | 50

        td
            span.price-inline
                | 13
                span.price-inline__dot-value
                    | 00

        td
            span.price-inline
                | 617
                span.price-inline__dot-value
                    | 50


    tr
        td(colspan='5')
            | Итого

        td
            span.price-inline
                | 6 242
                span.price-inline__dot-value
                    | 50
