.page-header {
  //background: url(../img/bg-signature-image.jpg) bottom center no-repeat $main-bg-color;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);

  height: 60px;

  @media(min-width: $breakpoint-md) {
    height: 122px;
  }
}

.header-row {
  height: 100%;
}


.header-row__inner {
  @extend %container;
  display: table;
  width: 100%;
  height: 100%;
  background: $main-bg-color;

  .form-grid {
    height: 100%;
  }
}

.header-row--decoration {
  height: 350px;
  background-size: cover;
}

.header__logo {
  display: table-cell;
  vertical-align: middle;
}

.header__greeting {
  display: table-cell;
  vertical-align: top;
  padding: 20px 63px;
}

.header__profile-menu {
  display: table-cell;
  vertical-align: top;
  padding-top: 12px;
  width: 520px;
  text-align: right
}

.header-greeting {
  font-size: $note-font-size;
}

